In [1]:
s=""
for i in range(7):
    for j in range(7):
        s+=str(i)+"x"+str(j)+","
print(s)

0x0,0x1,0x2,0x3,0x4,0x5,0x6,1x0,1x1,1x2,1x3,1x4,1x5,1x6,2x0,2x1,2x2,2x3,2x4,2x5,2x6,3x0,3x1,3x2,3x3,3x4,3x5,3x6,4x0,4x1,4x2,4x3,4x4,4x5,4x6,5x0,5x1,5x2,5x3,5x4,5x5,5x6,6x0,6x1,6x2,6x3,6x4,6x5,6x6,

In [2]:
%config Completer.use_jedi = False

import configparser
config = configparser.ConfigParser()
config.read('finger-config.txt')

source_folder = config.get('Configuration', 'source_folder')
time_step = int(config.get('Configuration', 'time_step'))
window_size = int(config.get('Configuration', 'window_size'))
data_folder = config.get('Configuration', 'data_folder')
ini_date = config.get('Configuration', 'ini_date')
end_date = config.get('Configuration', 'end_date')


w = int(config.get('Configuration', 'w'))
h = int(config.get('Configuration', 'h'))


rooms=config.get('Configuration', 'rooms')
rooms = [(item.strip()) for item in rooms.split(',')]

In [3]:
import numpy as np
from pandas import read_csv    
import pandas as pd
import time

from datetime import datetime

off_zone=60*60*2

def day_time(ti):
    return int((int)((ti+off_zone)/(60*60*24)))


def time2str(tt):
    return datetime.fromtimestamp(tt).strftime("%Y-%m-%d %H:%M:%S")

tN = (int)(datetime.strptime(end_date, '%Y-%m-%d %H:%M:%S').timestamp())
print (end_date,"End date is", tN, "day:",day_time(tN), time2str(tN))


print(ini_date)
t0 = (int)(datetime.strptime(ini_date, '%Y-%m-%d %H:%M:%S').timestamp())
print (ini_date,"Init date is", t0, "day:",day_time(t0), time2str(t0))




def day_time0(ti):
    return day_time(ti)-day_time(t0)+1

def relT(ti):
    return (int)((ti-t0)/time_step)

def sizeT():
    return relT(tN) 

day=list(range(day_time(t0),day_time(tN)+1))[0]
print(day_time(t0))

from datetime import datetime, timedelta


def getStrDatefrom(day_number):
    # Reference date (1970-01-01)
    reference_date = datetime(1970, 1, 1)
    
    # Compute the date corresponding to the day number
    resulting_date = reference_date + timedelta(days=day_number)
    
    return resulting_date.strftime("%Y-%m-%d")




day_str=getStrDatefrom(day)
print(day_str)
users=config.get('Configuration', day_str)
users = [(item.strip()) for item in users.split(',')]


print(users)

2024-07-21 01:59:59 End date is 1721519999 day: 19925 2024-07-21 01:59:59
2024-07-20 02:00:00
2024-07-20 02:00:00 Init date is 1721433600 day: 19924 2024-07-20 02:00:00
19924
2024-07-20
['16fe', 'f02e', 'ed9c']

In [4]:
def getLoc(room,s,off):
    print("S:",s)
    xys=config.get(room, s)
    xys = [(item.strip()) for item in xys.split(',')]
    xys = [list(map(int, item.split('x'))) for item in xys]
    for xy in xys:
        print("\t",xy)
        xy[0]=xy[0]+off[0]
        xy[1]=xy[1]+off[1]
        print("\t+",xy)
    return xys

loc_room_sensor={}
fp_sensors={}
for room in rooms:
    print(room)
    loc_room_sensor[room]={}
    fp_sensors[room] = config.get(room, 'maps')
    fp_sensors[room]  = [(item.strip()) for item in fp_sensors[room].split(',')]

    offW = int(config.get(room, 'offW'))
    offH = int(config.get(room, 'offH'))

    for fp in fp_sensors[room]:
        print(fp)
        loc_room_sensor[room][fp]=getLoc(room,fp,(offH,offW))
        print(loc_room_sensor[room][fp])
print(loc_room_sensor)
print(fp_sensors)

livingroom
s1
S: s1
	 [0, 0]
	+ [1, 0]
	 [0, 1]
	+ [1, 1]
	 [1, 0]
	+ [2, 0]
	 [1, 1]
	+ [2, 1]
[[1, 0], [1, 1], [2, 0], [2, 1]]
s2
S: s2
	 [2, 0]
	+ [3, 0]
	 [2, 1]
	+ [3, 1]
[[3, 0], [3, 1]]
s3
S: s3
	 [3, 0]
	+ [4, 0]
	 [3, 1]
	+ [4, 1]
[[4, 0], [4, 1]]
s4
S: s4
	 [4, 0]
	+ [5, 0]
	 [4, 1]
	+ [5, 1]
[[5, 0], [5, 1]]
s5
S: s5
	 [5, 0]
	+ [6, 0]
	 [5, 1]
	+ [6, 1]
[[6, 0], [6, 1]]
s6
S: s6
	 [6, 0]
	+ [7, 0]
	 [6, 1]
	+ [7, 1]
	 [7, 0]
	+ [8, 0]
	 [7, 1]
	+ [8, 1]
[[7, 0], [7, 1], [8, 0], [8, 1]]
s7
S: s7
	 [0, 2]
	+ [1, 2]
	 [0, 3]
	+ [1, 3]
	 [1, 2]
	+ [2, 2]
	 [1, 3]
	+ [2, 3]
[[1, 2], [1, 3], [2, 2], [2, 3]]
s8
S: s8
	 [2, 2]
	+ [3, 2]
	 [2, 3]
	+ [3, 3]
[[3, 2], [3, 3]]
s9
S: s9
	 [3, 2]
	+ [4, 2]
	 [3, 3]
	+ [4, 3]
[[4, 2], [4, 3]]
s10
S: s10
	 [4, 2]
	+ [5, 2]
	 [4, 3]
	+ [5, 3]
[[5, 2], [5, 3]]
s11
S: s11
	 [5, 3]
	+ [6, 3]
	 [5, 3]
	+ [6, 3]
[[6, 3], [6, 3]]
s12
S: s12
	 [6, 2]
	+ [7, 2]
	 [6, 3]
	+ [7, 3]
	 [7, 2]
	+ [8, 2]
	 [7, 3]
	+ [8, 3]
[[7, 2], [7, 3], [8, 2], [8, 3]]
s13
S: s13
	 [0, 4]
	+ [1, 4]
	 [0, 5]
	+ [1, 5]
[[1, 4], [1, 5]]
s14
S: s14
	 [1, 4]
	+ [2, 4]
	 [1, 5]
	+ [2, 5]
[[2, 4], [2, 5]]
s15
S: s15
	 [2, 4]
	+ [3, 4]
	 [2, 5]
	+ [3, 5]
[[3, 4], [3, 5]]
s16
S: s16
	 [3, 4]
	+ [4, 4]
	 [3, 5]
	+ [4, 5]
[[4, 4], [4, 5]]
s17
S: s17
	 [4, 4]
	+ [5, 4]
	 [4, 5]
	+ [5, 5]
[[5, 4], [5, 5]]
s18
S: s18
	 [5, 4]
	+ [6, 4]
	 [5, 5]
	+ [6, 5]
[[6, 4], [6, 5]]
s19
S: s19
	 [6, 4]
	+ [7, 4]
	 [6, 5]
	+ [7, 5]
[[7, 4], [7, 5]]
s20
S: s20
	 [7, 4]
	+ [8, 4]
	 [7, 5]
	+ [8, 5]
[[8, 4], [8, 5]]
s21
S: s21
	 [0, 6]
	+ [1, 6]
	 [0, 7]
	+ [1, 7]
[[1, 6], [1, 7]]
s22
S: s22
	 [1, 6]
	+ [2, 6]
	 [1, 7]
	+ [2, 7]
[[2, 6], [2, 7]]
s23
S: s23
	 [2, 6]
	+ [3, 6]
	 [2, 7]
	+ [3, 7]
[[3, 6], [3, 7]]
s24
S: s24
	 [3, 6]
	+ [4, 6]
	 [3, 7]
	+ [4, 7]
[[4, 6], [4, 7]]
s25
S: s25
	 [4, 6]
	+ [5, 6]
	 [4, 7]
	+ [5, 7]
[[5, 6], [5, 7]]
s26
S: s26
	 [5, 6]
	+ [6, 6]
	 [5, 7]
	+ [6, 7]
[[6, 6], [6, 7]]
s27
S: s27
	 [6, 6]
	+ [7, 6]
	 [6, 7]
	+ [7, 7]
[[7, 6], [7, 7]]
s28
S: s28
	 [7, 6]
	+ [8, 6]
	 [7, 7]
	+ [8, 7]
[[8, 6], [8, 7]]
kitchen
c1
S: c1
	 [0, 0]
	+ [11, 5]
	 [1, 0]
	+ [12, 5]
[[11, 5], [12, 5]]
c2
S: c2
	 [0, 1]
	+ [11, 6]
[[11, 6]]
c3
S: c3
	 [0, 2]
	+ [11, 7]
[[11, 7]]
c4
S: c4
	 [0, 3]
	+ [11, 8]
[[11, 8]]
c5
S: c5
	 [0, 4]
	+ [11, 9]
[[11, 9]]
c6
S: c6
	 [1, 1]
	+ [12, 6]
[[12, 6]]
c7
S: c7
	 [1, 2]
	+ [12, 7]
[[12, 7]]
c8
S: c8
	 [1, 3]
	+ [12, 8]
[[12, 8]]
c9
S: c9
	 [1, 4]
	+ [12, 9]
[[12, 9]]
c10
S: c10
	 [0, 5]
	+ [11, 10]
	 [1, 5]
	+ [12, 10]
[[11, 10], [12, 10]]
c11
S: c11
	 [2, 0]
	+ [13, 5]
	 [3, 0]
	+ [14, 5]
[[13, 5], [14, 5]]
c12
S: c12
	 [2, 1]
	+ [13, 6]
[[13, 6]]
c13
S: c13
	 [2, 2]
	+ [13, 7]
[[13, 7]]
c14
S: c14
	 [2, 3]
	+ [13, 8]
[[13, 8]]
c15
S: c15
	 [2, 4]
	+ [13, 9]
[[13, 9]]
c16
S: c16
	 [3, 1]
	+ [14, 6]
[[14, 6]]
c17
S: c17
	 [3, 2]
	+ [14, 7]
[[14, 7]]
c18
S: c18
	 [3, 3]
	+ [14, 8]
[[14, 8]]
c19
S: c19
	 [3, 4]
	+ [14, 9]
[[14, 9]]
c20
S: c20
	 [2, 5]
	+ [13, 10]
	 [3, 5]
	+ [14, 10]
[[13, 10], [14, 10]]
c21
S: c21
	 [4, 0]
	+ [15, 5]
	 [5, 0]
	+ [16, 5]
[[15, 5], [16, 5]]
c22
S: c22
	 [4, 1]
	+ [15, 6]
[[15, 6]]
c23
S: c23
	 [4, 2]
	+ [15, 7]
[[15, 7]]
c24
S: c24
	 [4, 3]
	+ [15, 8]
[[15, 8]]
c25
S: c25
	 [4, 4]
	+ [15, 9]
[[15, 9]]
c26
S: c26
	 [5, 1]
	+ [16, 6]
[[16, 6]]
c27
S: c27
	 [5, 2]
	+ [16, 7]
[[16, 7]]
c28
S: c28
	 [5, 3]
	+ [16, 8]
[[16, 8]]
c29
S: c29
	 [5, 4]
	+ [16, 9]
[[16, 9]]
c30
S: c30
	 [4, 5]
	+ [15, 10]
	 [5, 5]
	+ [16, 10]
[[15, 10], [16, 10]]
bathroom
b1
S: b1
	 [0, 0]
	+ [11, 12]
[[11, 12]]
b2
S: b2
	 [1, 0]
	+ [12, 12]
[[12, 12]]
b3
S: b3
	 [2, 0]
	+ [13, 12]
[[13, 12]]
b4
S: b4
	 [3, 0]
	+ [14, 12]
[[14, 12]]
b5
S: b5
	 [4, 0]
	+ [15, 12]
[[15, 12]]
b6
S: b6
	 [5, 0]
	+ [16, 12]
[[16, 12]]
b7
S: b7
	 [6, 0]
	+ [17, 12]
[[17, 12]]
b8
S: b8
	 [0, 1]
	+ [11, 13]
[[11, 13]]
b9
S: b9
	 [1, 1]
	+ [12, 13]
[[12, 13]]
b10
S: b10
	 [2, 1]
	+ [13, 13]
[[13, 13]]
b11
S: b11
	 [3, 1]
	+ [14, 13]
[[14, 13]]
b12
S: b12
	 [4, 1]
	+ [15, 13]
[[15, 13]]
b13
S: b13
	 [5, 1]
	+ [16, 13]
[[16, 13]]
b14
S: b14
	 [6, 1]
	+ [17, 13]
[[17, 13]]
b15
S: b15
	 [0, 2]
	+ [11, 14]
[[11, 14]]
b16
S: b16
	 [1, 2]
	+ [12, 14]
[[12, 14]]
b17
S: b17
	 [2, 2]
	+ [13, 14]
[[13, 14]]
b18
S: b18
	 [3, 2]
	+ [14, 14]
[[14, 14]]
b19
S: b19
	 [4, 2]
	+ [15, 14]
[[15, 14]]
b20
S: b20
	 [5, 2]
	+ [16, 14]
[[16, 14]]
b21
S: b21
	 [6, 2]
	+ [17, 14]
[[17, 14]]
office
o1
S: o1
	 [0, 4]
	+ [0, 13]
	 [0, 5]
	+ [0, 14]
	 [1, 4]
	+ [1, 13]
	 [1, 5]
	+ [1, 14]
[[0, 13], [0, 14], [1, 13], [1, 14]]
o2
S: o2
	 [0, 2]
	+ [0, 11]
	 [0, 3]
	+ [0, 12]
	 [1, 2]
	+ [1, 11]
	 [1, 3]
	+ [1, 12]
[[0, 11], [0, 12], [1, 11], [1, 12]]
o3
S: o3
	 [0, 0]
	+ [0, 9]
	 [0, 1]
	+ [0, 10]
	 [1, 0]
	+ [1, 9]
	 [1, 1]
	+ [1, 10]
[[0, 9], [0, 10], [1, 9], [1, 10]]
o4
S: o4
	 [2, 4]
	+ [2, 13]
	 [2, 5]
	+ [2, 14]
	 [3, 4]
	+ [3, 13]
	 [3, 5]
	+ [3, 14]
[[2, 13], [2, 14], [3, 13], [3, 14]]
o5
S: o5
	 [2, 2]
	+ [2, 11]
	 [2, 3]
	+ [2, 12]
	 [3, 2]
	+ [3, 11]
	 [3, 3]
	+ [3, 12]
[[2, 11], [2, 12], [3, 11], [3, 12]]
o6
S: o6
	 [2, 0]
	+ [2, 9]
	 [2, 1]
	+ [2, 10]
	 [3, 0]
	+ [3, 9]
	 [3, 1]
	+ [3, 10]
[[2, 9], [2, 10], [3, 9], [3, 10]]
o7
S: o7
	 [4, 4]
	+ [4, 13]
	 [4, 5]
	+ [4, 14]
	 [5, 4]
	+ [5, 13]
	 [5, 5]
	+ [5, 14]
[[4, 13], [4, 14], [5, 13], [5, 14]]
o8
S: o8
	 [4, 2]
	+ [4, 11]
	 [4, 3]
	+ [4, 12]
	 [5, 2]
	+ [5, 11]
	 [5, 3]
	+ [5, 12]
[[4, 11], [4, 12], [5, 11], [5, 12]]
o9
S: o9
	 [4, 0]
	+ [4, 9]
	 [4, 1]
	+ [4, 10]
	 [5, 0]
	+ [5, 9]
	 [5, 1]
	+ [5, 10]
[[4, 9], [4, 10], [5, 9], [5, 10]]
o10
S: o10
	 [6, 4]
	+ [6, 13]
	 [6, 5]
	+ [6, 14]
	 [7, 4]
	+ [7, 13]
	 [7, 5]
	+ [7, 14]
[[6, 13], [6, 14], [7, 13], [7, 14]]
o11
S: o11
	 [6, 2]
	+ [6, 11]
	 [6, 3]
	+ [6, 12]
	 [7, 2]
	+ [7, 11]
	 [7, 3]
	+ [7, 12]
[[6, 11], [6, 12], [7, 11], [7, 12]]
o12
S: o12
	 [6, 0]
	+ [6, 9]
	 [6, 1]
	+ [6, 10]
	 [7, 0]
	+ [7, 9]
	 [7, 1]
	+ [7, 10]
[[6, 9], [6, 10], [7, 9], [7, 10]]
o13
S: o13
	 [8, 4]
	+ [8, 13]
	 [8, 5]
	+ [8, 14]
[[8, 13], [8, 14]]
o14
S: o14
	 [8, 2]
	+ [8, 11]
	 [8, 3]
	+ [8, 12]
[[8, 11], [8, 12]]
o15
S: o15
	 [8, 0]
	+ [8, 9]
	 [8, 1]
	+ [8, 10]
[[8, 9], [8, 10]]
bedA
p1
S: p1
	 [0, 0]
	+ [2, 15]
	 [0, 1]
	+ [2, 16]
	 [1, 0]
	+ [3, 15]
	 [1, 1]
	+ [3, 16]
[[2, 15], [2, 16], [3, 15], [3, 16]]
p2
S: p2
	 [2, 0]
	+ [4, 15]
	 [2, 1]
	+ [4, 16]
	 [3, 0]
	+ [5, 15]
	 [3, 1]
	+ [5, 16]
[[4, 15], [4, 16], [5, 15], [5, 16]]
p3
S: p3
	 [4, 0]
	+ [6, 15]
	 [4, 1]
	+ [6, 16]
	 [5, 0]
	+ [7, 15]
	 [5, 1]
	+ [7, 16]
[[6, 15], [6, 16], [7, 15], [7, 16]]
p4
S: p4
	 [6, 0]
	+ [8, 15]
	 [6, 1]
	+ [8, 16]
[[8, 15], [8, 16]]
p5
S: p5
	 [0, 2]
	+ [2, 17]
	 [0, 3]
	+ [2, 18]
	 [1, 2]
	+ [3, 17]
	 [1, 3]
	+ [3, 18]
[[2, 17], [2, 18], [3, 17], [3, 18]]
p6
S: p6
	 [2, 2]
	+ [4, 17]
	 [2, 3]
	+ [4, 18]
	 [3, 2]
	+ [5, 17]
	 [3, 3]
	+ [5, 18]
[[4, 17], [4, 18], [5, 17], [5, 18]]
p7
S: p7
	 [4, 2]
	+ [6, 17]
	 [4, 3]
	+ [6, 18]
	 [5, 2]
	+ [7, 17]
	 [5, 3]
	+ [7, 18]
[[6, 17], [6, 18], [7, 17], [7, 18]]
p8
S: p8
	 [6, 2]
	+ [8, 17]
	 [6, 3]
	+ [8, 18]
[[8, 17], [8, 18]]
p9
S: p9
	 [0, 4]
	+ [2, 19]
	 [0, 5]
	+ [2, 20]
	 [0, 6]
	+ [2, 21]
[[2, 19], [2, 20], [2, 21]]
p10
S: p10
	 [1, 4]
	+ [3, 19]
	 [1, 5]
	+ [3, 20]
	 [1, 6]
	+ [3, 21]
[[3, 19], [3, 20], [3, 21]]
p11
S: p11
	 [2, 4]
	+ [4, 19]
	 [2, 5]
	+ [4, 20]
	 [2, 6]
	+ [4, 21]
[[4, 19], [4, 20], [4, 21]]
p12
S: p12
	 [3, 4]
	+ [5, 19]
	 [3, 5]
	+ [5, 20]
	 [3, 6]
	+ [5, 21]
[[5, 19], [5, 20], [5, 21]]
p13
S: p13
	 [4, 4]
	+ [6, 19]
	 [4, 5]
	+ [6, 20]
	 [4, 6]
	+ [6, 21]
[[6, 19], [6, 20], [6, 21]]
p14
S: p14
	 [5, 4]
	+ [7, 19]
	 [5, 5]
	+ [7, 20]
	 [5, 6]
	+ [7, 21]
[[7, 19], [7, 20], [7, 21]]
p15
S: p15
	 [6, 4]
	+ [8, 19]
	 [6, 5]
	+ [8, 20]
	 [6, 6]
	+ [8, 21]
[[8, 19], [8, 20], [8, 21]]
bedB
h1
S: h1
	 [0, 0]
	+ [11, 15]
	 [0, 1]
	+ [11, 16]
	 [1, 0]
	+ [12, 15]
	 [1, 1]
	+ [12, 16]
[[11, 15], [11, 16], [12, 15], [12, 16]]
h2
S: h2
	 [2, 0]
	+ [13, 15]
	 [2, 1]
	+ [13, 16]
	 [3, 0]
	+ [14, 15]
	 [3, 1]
	+ [14, 16]
[[13, 15], [13, 16], [14, 15], [14, 16]]
h3
S: h3
	 [4, 0]
	+ [15, 15]
	 [4, 1]
	+ [15, 16]
	 [5, 0]
	+ [16, 15]
	 [5, 1]
	+ [16, 16]
[[15, 15], [15, 16], [16, 15], [16, 16]]
h4
S: h4
	 [6, 0]
	+ [17, 15]
	 [6, 1]
	+ [17, 16]
[[17, 15], [17, 16]]
h5
S: h5
	 [0, 2]
	+ [11, 17]
	 [0, 3]
	+ [11, 18]
	 [1, 2]
	+ [12, 17]
	 [1, 3]
	+ [12, 18]
[[11, 17], [11, 18], [12, 17], [12, 18]]
h6
S: h6
	 [2, 2]
	+ [13, 17]
	 [2, 3]
	+ [13, 18]
	 [3, 2]
	+ [14, 17]
	 [3, 3]
	+ [14, 18]
[[13, 17], [13, 18], [14, 17], [14, 18]]
h7
S: h7
	 [4, 2]
	+ [15, 17]
	 [4, 3]
	+ [15, 18]
	 [5, 2]
	+ [16, 17]
	 [5, 3]
	+ [16, 18]
[[15, 17], [15, 18], [16, 17], [16, 18]]
h8
S: h8
	 [6, 2]
	+ [17, 17]
	 [6, 3]
	+ [17, 18]
[[17, 17], [17, 18]]
h9
S: h9
	 [0, 4]
	+ [11, 19]
	 [0, 5]
	+ [11, 20]
	 [0, 6]
	+ [11, 21]
[[11, 19], [11, 20], [11, 21]]
h10
S: h10
	 [1, 4]
	+ [12, 19]
	 [1, 5]
	+ [12, 20]
	 [1, 6]
	+ [12, 21]
[[12, 19], [12, 20], [12, 21]]
h11
S: h11
	 [2, 4]
	+ [13, 19]
	 [2, 5]
	+ [13, 20]
	 [2, 6]
	+ [13, 21]
[[13, 19], [13, 20], [13, 21]]
h12
S: h12
	 [3, 4]
	+ [14, 19]
	 [3, 5]
	+ [14, 20]
	 [3, 6]
	+ [14, 21]
[[14, 19], [14, 20], [14, 21]]
h13
S: h13
	 [4, 4]
	+ [15, 19]
	 [4, 5]
	+ [15, 20]
	 [4, 6]
	+ [15, 21]
[[15, 19], [15, 20], [15, 21]]
h14
S: h14
	 [5, 4]
	+ [16, 19]
	 [5, 5]
	+ [16, 20]
	 [5, 6]
	+ [16, 21]
[[16, 19], [16, 20], [16, 21]]
h15
S: h15
	 [6, 4]
	+ [17, 19]
	 [6, 5]
	+ [17, 20]
	 [6, 6]
	+ [17, 21]
[[17, 19], [17, 20], [17, 21]]
{'livingroom': {'s1': [[1, 0], [1, 1], [2, 0], [2, 1]], 's2': [[3, 0], [3, 1]], 's3': [[4, 0], [4, 1]], 's4': [[5, 0], [5, 1]], 's5': [[6, 0], [6, 1]], 's6': [[7, 0], [7, 1], [8, 0], [8, 1]], 's7': [[1, 2], [1, 3], [2, 2], [2, 3]], 's8': [[3, 2], [3, 3]], 's9': [[4, 2], [4, 3]], 's10': [[5, 2], [5, 3]], 's11': [[6, 3], [6, 3]], 's12': [[7, 2], [7, 3], [8, 2], [8, 3]], 's13': [[1, 4], [1, 5]], 's14': [[2, 4], [2, 5]], 's15': [[3, 4], [3, 5]], 's16': [[4, 4], [4, 5]], 's17': [[5, 4], [5, 5]], 's18': [[6, 4], [6, 5]], 's19': [[7, 4], [7, 5]], 's20': [[8, 4], [8, 5]], 's21': [[1, 6], [1, 7]], 's22': [[2, 6], [2, 7]], 's23': [[3, 6], [3, 7]], 's24': [[4, 6], [4, 7]], 's25': [[5, 6], [5, 7]], 's26': [[6, 6], [6, 7]], 's27': [[7, 6], [7, 7]], 's28': [[8, 6], [8, 7]]}, 'kitchen': {'c1': [[11, 5], [12, 5]], 'c2': [[11, 6]], 'c3': [[11, 7]], 'c4': [[11, 8]], 'c5': [[11, 9]], 'c6': [[12, 6]], 'c7': [[12, 7]], 'c8': [[12, 8]], 'c9': [[12, 9]], 'c10': [[11, 10], [12, 10]], 'c11': [[13, 5], [14, 5]], 'c12': [[13, 6]], 'c13': [[13, 7]], 'c14': [[13, 8]], 'c15': [[13, 9]], 'c16': [[14, 6]], 'c17': [[14, 7]], 'c18': [[14, 8]], 'c19': [[14, 9]], 'c20': [[13, 10], [14, 10]], 'c21': [[15, 5], [16, 5]], 'c22': [[15, 6]], 'c23': [[15, 7]], 'c24': [[15, 8]], 'c25': [[15, 9]], 'c26': [[16, 6]], 'c27': [[16, 7]], 'c28': [[16, 8]], 'c29': [[16, 9]], 'c30': [[15, 10], [16, 10]]}, 'bathroom': {'b1': [[11, 12]], 'b2': [[12, 12]], 'b3': [[13, 12]], 'b4': [[14, 12]], 'b5': [[15, 12]], 'b6': [[16, 12]], 'b7': [[17, 12]], 'b8': [[11, 13]], 'b9': [[12, 13]], 'b10': [[13, 13]], 'b11': [[14, 13]], 'b12': [[15, 13]], 'b13': [[16, 13]], 'b14': [[17, 13]], 'b15': [[11, 14]], 'b16': [[12, 14]], 'b17': [[13, 14]], 'b18': [[14, 14]], 'b19': [[15, 14]], 'b20': [[16, 14]], 'b21': [[17, 14]]}, 'office': {'o1': [[0, 13], [0, 14], [1, 13], [1, 14]], 'o2': [[0, 11], [0, 12], [1, 11], [1, 12]], 'o3': [[0, 9], [0, 10], [1, 9], [1, 10]], 'o4': [[2, 13], [2, 14], [3, 13], [3, 14]], 'o5': [[2, 11], [2, 12], [3, 11], [3, 12]], 'o6': [[2, 9], [2, 10], [3, 9], [3, 10]], 'o7': [[4, 13], [4, 14], [5, 13], [5, 14]], 'o8': [[4, 11], [4, 12], [5, 11], [5, 12]], 'o9': [[4, 9], [4, 10], [5, 9], [5, 10]], 'o10': [[6, 13], [6, 14], [7, 13], [7, 14]], 'o11': [[6, 11], [6, 12], [7, 11], [7, 12]], 'o12': [[6, 9], [6, 10], [7, 9], [7, 10]], 'o13': [[8, 13], [8, 14]], 'o14': [[8, 11], [8, 12]], 'o15': [[8, 9], [8, 10]]}, 'bedA': {'p1': [[2, 15], [2, 16], [3, 15], [3, 16]], 'p2': [[4, 15], [4, 16], [5, 15], [5, 16]], 'p3': [[6, 15], [6, 16], [7, 15], [7, 16]], 'p4': [[8, 15], [8, 16]], 'p5': [[2, 17], [2, 18], [3, 17], [3, 18]], 'p6': [[4, 17], [4, 18], [5, 17], [5, 18]], 'p7': [[6, 17], [6, 18], [7, 17], [7, 18]], 'p8': [[8, 17], [8, 18]], 'p9': [[2, 19], [2, 20], [2, 21]], 'p10': [[3, 19], [3, 20], [3, 21]], 'p11': [[4, 19], [4, 20], [4, 21]], 'p12': [[5, 19], [5, 20], [5, 21]], 'p13': [[6, 19], [6, 20], [6, 21]], 'p14': [[7, 19], [7, 20], [7, 21]], 'p15': [[8, 19], [8, 20], [8, 21]]}, 'bedB': {'h1': [[11, 15], [11, 16], [12, 15], [12, 16]], 'h2': [[13, 15], [13, 16], [14, 15], [14, 16]], 'h3': [[15, 15], [15, 16], [16, 15], [16, 16]], 'h4': [[17, 15], [17, 16]], 'h5': [[11, 17], [11, 18], [12, 17], [12, 18]], 'h6': [[13, 17], [13, 18], [14, 17], [14, 18]], 'h7': [[15, 17], [15, 18], [16, 17], [16, 18]], 'h8': [[17, 17], [17, 18]], 'h9': [[11, 19], [11, 20], [11, 21]], 'h10': [[12, 19], [12, 20], [12, 21]], 'h11': [[13, 19], [13, 20], [13, 21]], 'h12': [[14, 19], [14, 20], [14, 21]], 'h13': [[15, 19], [15, 20], [15, 21]], 'h14': [[16, 19], [16, 20], [16, 21]], 'h15': [[17, 19], [17, 20], [17, 21]]}}
{'livingroom': ['s1', 's2', 's3', 's4', 's5', 's6', 's7', 's8', 's9', 's10', 's11', 's12', 's13', 's14', 's15', 's16', 's17', 's18', 's19', 's20', 's21', 's22', 's23', 's24', 's25', 's26', 's27', 's28'], 'kitchen': ['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10', 'c11', 'c12', 'c13', 'c14', 'c15', 'c16', 'c17', 'c18', 'c19', 'c20', 'c21', 'c22', 'c23', 'c24', 'c25', 'c26', 'c27', 'c28', 'c29', 'c30'], 'bathroom': ['b1', 'b2', 'b3', 'b4', 'b5', 'b6', 'b7', 'b8', 'b9', 'b10', 'b11', 'b12', 'b13', 'b14', 'b15', 'b16', 'b17', 'b18', 'b19', 'b20', 'b21'], 'office': ['o1', 'o2', 'o3', 'o4', 'o5', 'o6', 'o7', 'o8', 'o9', 'o10', 'o11', 'o12', 'o13', 'o14', 'o15'], 'bedA': ['p1', 'p2', 'p3', 'p4', 'p5', 'p6', 'p7', 'p8', 'p9', 'p10', 'p11', 'p12', 'p13', 'p14', 'p15'], 'bedB': ['h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'h7', 'h8', 'h9', 'h10', 'h11', 'h12', 'h13', 'h14', 'h15']}

In [5]:
import os

df_total_map = {}
for room in rooms:
    df_total_map[room]={}
    for fp in fp_sensors[room]:
        df_total_map[room][fp]=None
    for fp in fp_sensors[room]:
        print(os.path.join(source_folder,"binary")+"/"+str(day)+"."+fp+".tsv")
        try:
            series=read_csv(os.path.join(source_folder,"binary")+"/"+str(day)+"."+fp+".tsv", sep="\t",parse_dates=True, header=None, names=["time","date","state"])
            print(day,fp,series.size)
        except:
            print("Not data")
            continue
        if(df_total_map[room][fp] is None):
            df_total_map[room][fp]=series
        else:
            df_total_map[room][fp] = df_total_map[room][fp].append(series, ignore_index=True)


for room in rooms:
    print(room)
    for fp in fp_sensors[room]:
        if(df_total_map[room][fp] is not None):
            df_total_map[room][fp] = df_total_map[room][fp].sort_values(by='time', ascending=True)
        print(df_total_map[room][fp])

./raw-har/binary/19924.s1.tsv
19924 s1 42
./raw-har/binary/19924.s2.tsv
19924 s2 66
./raw-har/binary/19924.s3.tsv
19924 s3 96
./raw-har/binary/19924.s4.tsv
19924 s4 150
./raw-har/binary/19924.s5.tsv
19924 s5 120
./raw-har/binary/19924.s6.tsv
19924 s6 42
./raw-har/binary/19924.s7.tsv
19924 s7 6
./raw-har/binary/19924.s8.tsv
19924 s8 126
./raw-har/binary/19924.s9.tsv
19924 s9 834
./raw-har/binary/19924.s10.tsv
19924 s10 762
./raw-har/binary/19924.s11.tsv
19924 s11 150
./raw-har/binary/19924.s12.tsv
19924 s12 240
./raw-har/binary/19924.s13.tsv
19924 s13 294
./raw-har/binary/19924.s14.tsv
19924 s14 330
./raw-har/binary/19924.s15.tsv
19924 s15 300
./raw-har/binary/19924.s16.tsv
19924 s16 348
./raw-har/binary/19924.s17.tsv
19924 s17 1422
./raw-har/binary/19924.s18.tsv
19924 s18 918
./raw-har/binary/19924.s19.tsv
19924 s19 408
./raw-har/binary/19924.s20.tsv
19924 s20 186
./raw-har/binary/19924.s21.tsv
19924 s21 276
./raw-har/binary/19924.s22.tsv
19924 s22 510
./raw-har/binary/19924.s23.tsv
19924 s23 570
./raw-har/binary/19924.s24.tsv
19924 s24 1689
./raw-har/binary/19924.s25.tsv
19924 s25 2205
./raw-har/binary/19924.s26.tsv
19924 s26 1218
./raw-har/binary/19924.s27.tsv
19924 s27 696
./raw-har/binary/19924.s28.tsv
19924 s28 108
./raw-har/binary/19924.c1.tsv
19924 c1 762
./raw-har/binary/19924.c2.tsv
19924 c2 192
./raw-har/binary/19924.c3.tsv
19924 c3 348
./raw-har/binary/19924.c4.tsv
19924 c4 204
./raw-har/binary/19924.c5.tsv
19924 c5 60
./raw-har/binary/19924.c6.tsv
19924 c6 1434
./raw-har/binary/19924.c7.tsv
19924 c7 720
./raw-har/binary/19924.c8.tsv
19924 c8 426
./raw-har/binary/19924.c9.tsv
19924 c9 384
./raw-har/binary/19924.c10.tsv
19924 c10 294
./raw-har/binary/19924.c11.tsv
19924 c11 1134
./raw-har/binary/19924.c12.tsv
19924 c12 1566
./raw-har/binary/19924.c13.tsv
19924 c13 1224
./raw-har/binary/19924.c14.tsv
19924 c14 354
./raw-har/binary/19924.c15.tsv
19924 c15 138
./raw-har/binary/19924.c16.tsv
19924 c16 1698
./raw-har/binary/19924.c17.tsv
19924 c17 1428
./raw-har/binary/19924.c18.tsv
19924 c18 1272
./raw-har/binary/19924.c19.tsv
19924 c19 444
./raw-har/binary/19924.c20.tsv
19924 c20 318
./raw-har/binary/19924.c21.tsv
19924 c21 1086
./raw-har/binary/19924.c22.tsv
19924 c22 738
./raw-har/binary/19924.c23.tsv
19924 c23 402
./raw-har/binary/19924.c24.tsv
19924 c24 318
./raw-har/binary/19924.c25.tsv
19924 c25 102
./raw-har/binary/19924.c26.tsv
19924 c26 372
./raw-har/binary/19924.c27.tsv
19924 c27 132
./raw-har/binary/19924.c28.tsv
19924 c28 126
./raw-har/binary/19924.c29.tsv
19924 c29 96
./raw-har/binary/19924.c30.tsv
19924 c30 90
./raw-har/binary/19924.b1.tsv
19924 b1 24
./raw-har/binary/19924.b2.tsv
19924 b2 468
./raw-har/binary/19924.b3.tsv
19924 b3 498
./raw-har/binary/19924.b4.tsv
19924 b4 360
./raw-har/binary/19924.b5.tsv
19924 b5 306
./raw-har/binary/19924.b6.tsv
19924 b6 180
./raw-har/binary/19924.b7.tsv
19924 b7 72
./raw-har/binary/19924.b8.tsv
19924 b8 240
./raw-har/binary/19924.b9.tsv
19924 b9 450
./raw-har/binary/19924.b10.tsv
19924 b10 522
./raw-har/binary/19924.b11.tsv
19924 b11 486
./raw-har/binary/19924.b12.tsv
19924 b12 294
./raw-har/binary/19924.b13.tsv
19924 b13 132
./raw-har/binary/19924.b14.tsv
19924 b14 66
./raw-har/binary/19924.b15.tsv
19924 b15 18
./raw-har/binary/19924.b16.tsv
19924 b16 12
./raw-har/binary/19924.b17.tsv
19924 b17 36
./raw-har/binary/19924.b18.tsv
19924 b18 144
./raw-har/binary/19924.b19.tsv
19924 b19 60
./raw-har/binary/19924.b20.tsv
19924 b20 6
./raw-har/binary/19924.b21.tsv
19924 b21 6
./raw-har/binary/19924.o1.tsv
19924 o1 24
./raw-har/binary/19924.o2.tsv
19924 o2 90
./raw-har/binary/19924.o3.tsv
19924 o3 72
./raw-har/binary/19924.o4.tsv
19924 o4 54
./raw-har/binary/19924.o5.tsv
19924 o5 198
./raw-har/binary/19924.o6.tsv
19924 o6 36
./raw-har/binary/19924.o7.tsv
19924 o7 30
./raw-har/binary/19924.o8.tsv
19924 o8 162
./raw-har/binary/19924.o9.tsv
19924 o9 48
./raw-har/binary/19924.o10.tsv
19924 o10 12
./raw-har/binary/19924.o11.tsv
19924 o11 84
./raw-har/binary/19924.o12.tsv
19924 o12 234
./raw-har/binary/19924.o13.tsv
Not data
./raw-har/binary/19924.o14.tsv
19924 o14 54
./raw-har/binary/19924.o15.tsv
19924 o15 318
./raw-har/binary/19924.p1.tsv
19924 p1 84
./raw-har/binary/19924.p2.tsv
19924 p2 180
./raw-har/binary/19924.p3.tsv
19924 p3 330
./raw-har/binary/19924.p4.tsv
19924 p4 222
./raw-har/binary/19924.p5.tsv
19924 p5 288
./raw-har/binary/19924.p6.tsv
19924 p6 1122
./raw-har/binary/19924.p7.tsv
19924 p7 270
./raw-har/binary/19924.p8.tsv
19924 p8 60
./raw-har/binary/19924.p9.tsv
19924 p9 18
./raw-har/binary/19924.p10.tsv
19924 p10 156
./raw-har/binary/19924.p11.tsv
19924 p11 252
./raw-har/binary/19924.p12.tsv
19924 p12 906
./raw-har/binary/19924.p13.tsv
19924 p13 336
./raw-har/binary/19924.p14.tsv
19924 p14 102
./raw-har/binary/19924.p15.tsv
19924 p15 36
./raw-har/binary/19924.h1.tsv
19924 h1 216
./raw-har/binary/19924.h2.tsv
19924 h2 30
./raw-har/binary/19924.h3.tsv
19924 h3 114
./raw-har/binary/19924.h4.tsv
19924 h4 18
./raw-har/binary/19924.h5.tsv
19924 h5 258
./raw-har/binary/19924.h6.tsv
19924 h6 870
./raw-har/binary/19924.h7.tsv
19924 h7 312
./raw-har/binary/19924.h8.tsv
19924 h8 12
./raw-har/binary/19924.h9.tsv
19924 h9 18
./raw-har/binary/19924.h10.tsv
19924 h10 198
./raw-har/binary/19924.h11.tsv
19924 h11 912
./raw-har/binary/19924.h12.tsv
19924 h12 729
./raw-har/binary/19924.h13.tsv
19924 h13 120
./raw-har/binary/19924.h14.tsv
19924 h14 84
./raw-har/binary/19924.h15.tsv
Not data
livingroom
          time                 date state
0   1721435078  2024-07-20 02:24:38    on
1   1721435084  2024-07-20 02:24:44   off
2   1721465034  2024-07-20 10:43:54    on
3   1721465035  2024-07-20 10:43:55   off
4   1721465769  2024-07-20 10:56:09    on
5   1721465775  2024-07-20 10:56:15   off
6   1721467371  2024-07-20 11:22:51    on
7   1721467393  2024-07-20 11:23:13   off
8   1721489605  2024-07-20 17:33:25    on
9   1721492098  2024-07-20 18:14:58   off
10  1721504038  2024-07-20 21:33:58    on
11  1721504077  2024-07-20 21:34:37   off
12  1721504835  2024-07-20 21:47:15    on
13  1721504838  2024-07-20 21:47:18   off
          time                 date state
0   1721435077  2024-07-20 02:24:37    on
1   1721435079  2024-07-20 02:24:39   off
2   1721435081  2024-07-20 02:24:41    on
3   1721435083  2024-07-20 02:24:43   off
4   1721465032  2024-07-20 10:43:52    on
5   1721465036  2024-07-20 10:43:56   off
6   1721465773  2024-07-20 10:56:13    on
7   1721465775  2024-07-20 10:56:15   off
8   1721467370  2024-07-20 11:22:50    on
9   1721467372  2024-07-20 11:22:52   off
10  1721467391  2024-07-20 11:23:11    on
11  1721467394  2024-07-20 11:23:14   off
12  1721504037  2024-07-20 21:33:57    on
13  1721504039  2024-07-20 21:33:59   off
14  1721504069  2024-07-20 21:34:29    on
15  1721504071  2024-07-20 21:34:31   off
16  1721504075  2024-07-20 21:34:35    on
17  1721504077  2024-07-20 21:34:37   off
18  1721504833  2024-07-20 21:47:13    on
19  1721504836  2024-07-20 21:47:16   off
20  1721504837  2024-07-20 21:47:17    on
21  1721504839  2024-07-20 21:47:19   off
          time                 date state
0   1721435077  2024-07-20 02:24:37    on
1   1721435079  2024-07-20 02:24:39   off
2   1721435082  2024-07-20 02:24:42    on
3   1721435085  2024-07-20 02:24:45   off
4   1721465032  2024-07-20 10:43:52    on
5   1721465034  2024-07-20 10:43:54   off
6   1721465035  2024-07-20 10:43:55    on
7   1721465037  2024-07-20 10:43:57   off
8   1721465768  2024-07-20 10:56:08    on
9   1721465770  2024-07-20 10:56:10   off
10  1721465774  2024-07-20 10:56:14    on
11  1721465781  2024-07-20 10:56:21   off
12  1721467369  2024-07-20 11:22:49    on
13  1721467371  2024-07-20 11:22:51   off
14  1721467392  2024-07-20 11:23:12    on
15  1721467394  2024-07-20 11:23:14   off
16  1721473885  2024-07-20 13:11:25    on
17  1721473890  2024-07-20 13:11:30   off
18  1721491081  2024-07-20 17:58:01    on
19  1721491086  2024-07-20 17:58:06   off
20  1721491341  2024-07-20 18:02:21    on
21  1721491352  2024-07-20 18:02:32   off
22  1721491445  2024-07-20 18:04:05    on
23  1721491450  2024-07-20 18:04:10   off
24  1721504036  2024-07-20 21:33:56    on
25  1721504038  2024-07-20 21:33:58   off
26  1721504076  2024-07-20 21:34:36    on
27  1721504078  2024-07-20 21:34:38   off
28  1721504833  2024-07-20 21:47:13    on
29  1721504834  2024-07-20 21:47:14   off
30  1721504837  2024-07-20 21:47:17    on
31  1721504839  2024-07-20 21:47:19   off
          time                 date state
0   1721435076  2024-07-20 02:24:36    on
1   1721435078  2024-07-20 02:24:38   off
2   1721435084  2024-07-20 02:24:44    on
3   1721435085  2024-07-20 02:24:45   off
4   1721465031  2024-07-20 10:43:51    on
5   1721465033  2024-07-20 10:43:53   off
6   1721465035  2024-07-20 10:43:55    on
7   1721465037  2024-07-20 10:43:57   off
8   1721465766  2024-07-20 10:56:06    on
9   1721465768  2024-07-20 10:56:08   off
10  1721465779  2024-07-20 10:56:19    on
11  1721465781  2024-07-20 10:56:21   off
12  1721465785  2024-07-20 10:56:25    on
13  1721465787  2024-07-20 10:56:27   off
14  1721465825  2024-07-20 10:57:05    on
15  1721465827  2024-07-20 10:57:07   off
16  1721467369  2024-07-20 11:22:49    on
17  1721467371  2024-07-20 11:22:51   off
18  1721467393  2024-07-20 11:23:13    on
19  1721467395  2024-07-20 11:23:15   off
20  1721467415  2024-07-20 11:23:35    on
21  1721467424  2024-07-20 11:23:44   off
22  1721473884  2024-07-20 13:11:24    on
23  1721473887  2024-07-20 13:11:27   off
24  1721473888  2024-07-20 13:11:28    on
25  1721473890  2024-07-20 13:11:30   off
26  1721473912  2024-07-20 13:11:52    on
27  1721473914  2024-07-20 13:11:54   off
28  1721482680  2024-07-20 15:38:00    on
29  1721482682  2024-07-20 15:38:02   off
30  1721489581  2024-07-20 17:33:01    on
31  1721489584  2024-07-20 17:33:04   off
32  1721490596  2024-07-20 17:49:56    on
33  1721490600  2024-07-20 17:50:00   off
34  1721490879  2024-07-20 17:54:39    on
35  1721490885  2024-07-20 17:54:45   off
36  1721491473  2024-07-20 18:04:33    on
37  1721491486  2024-07-20 18:04:46   off
38  1721491604  2024-07-20 18:06:44    on
39  1721491611  2024-07-20 18:06:51   off
40  1721493412  2024-07-20 18:36:52    on
41  1721493416  2024-07-20 18:36:56   off
42  1721504036  2024-07-20 21:33:56    on
43  1721504037  2024-07-20 21:33:57   off
44  1721504077  2024-07-20 21:34:37    on
45  1721504079  2024-07-20 21:34:39   off
46  1721504832  2024-07-20 21:47:12    on
47  1721504834  2024-07-20 21:47:14   off
48  1721504838  2024-07-20 21:47:18    on
49  1721504840  2024-07-20 21:47:20   off
          time                 date state
0   1721435075  2024-07-20 02:24:35    on
1   1721435077  2024-07-20 02:24:37   off
2   1721435084  2024-07-20 02:24:44    on
3   1721435086  2024-07-20 02:24:46   off
4   1721465030  2024-07-20 10:43:50    on
5   1721465032  2024-07-20 10:43:52   off
6   1721465036  2024-07-20 10:43:56    on
7   1721465038  2024-07-20 10:43:58   off
8   1721465765  2024-07-20 10:56:05    on
9   1721465768  2024-07-20 10:56:08   off
10  1721465780  2024-07-20 10:56:20    on
11  1721465832  2024-07-20 10:57:12   off
12  1721465964  2024-07-20 10:59:24    on
13  1721465971  2024-07-20 10:59:31   off
14  1721467368  2024-07-20 11:22:48    on
15  1721467370  2024-07-20 11:22:50   off
16  1721467394  2024-07-20 11:23:14    on
17  1721467395  2024-07-20 11:23:15   off
18  1721467414  2024-07-20 11:23:34    on
19  1721467417  2024-07-20 11:23:37   off
20  1721467422  2024-07-20 11:23:42    on
21  1721467424  2024-07-20 11:23:44   off
22  1721470112  2024-07-20 12:08:32    on
23  1721470127  2024-07-20 12:08:47   off
24  1721473880  2024-07-20 13:11:20    on
25  1721473886  2024-07-20 13:11:26   off
26  1721473889  2024-07-20 13:11:29    on
27  1721473892  2024-07-20 13:11:32   off
28  1721473913  2024-07-20 13:11:53    on
29  1721473915  2024-07-20 13:11:55   off
30  1721482681  2024-07-20 15:38:01    on
31  1721482701  2024-07-20 15:38:21   off
32  1721504035  2024-07-20 21:33:55    on
33  1721504037  2024-07-20 21:33:57   off
34  1721504077  2024-07-20 21:34:37    on
35  1721504079  2024-07-20 21:34:39   off
36  1721504831  2024-07-20 21:47:11    on
37  1721504833  2024-07-20 21:47:13   off
38  1721504838  2024-07-20 21:47:18    on
39  1721504840  2024-07-20 21:47:20   off
          time                 date state
0   1721465036  2024-07-20 10:43:56    on
1   1721465051  2024-07-20 10:44:11   off
2   1721465969  2024-07-20 10:59:29    on
3   1721465972  2024-07-20 10:59:32   off
4   1721466209  2024-07-20 11:03:29    on
5   1721466230  2024-07-20 11:03:50   off
6   1721470126  2024-07-20 12:08:46    on
7   1721470137  2024-07-20 12:08:57   off
8   1721473878  2024-07-20 13:11:18    on
9   1721473881  2024-07-20 13:11:21   off
10  1721473891  2024-07-20 13:11:31    on
11  1721473922  2024-07-20 13:12:02   off
12  1721477306  2024-07-20 14:08:26    on
13  1721477307  2024-07-20 14:08:27   off
         time                 date state
0  1721459820  2024-07-20 09:17:00    on
1  1721459850  2024-07-20 09:17:30   off
          time                 date state
0   1721480641  2024-07-20 15:04:01    on
1   1721480648  2024-07-20 15:04:08   off
2   1721481062  2024-07-20 15:11:02    on
3   1721481080  2024-07-20 15:11:20   off
4   1721482115  2024-07-20 15:28:35    on
5   1721482156  2024-07-20 15:29:16   off
6   1721489941  2024-07-20 17:39:01    on
7   1721489945  2024-07-20 17:39:05   off
8   1721489981  2024-07-20 17:39:41    on
9   1721489985  2024-07-20 17:39:45   off
10  1721490007  2024-07-20 17:40:07    on
11  1721490009  2024-07-20 17:40:09   off
12  1721490112  2024-07-20 17:41:52    on
13  1721490118  2024-07-20 17:41:58   off
14  1721490125  2024-07-20 17:42:05    on
15  1721490152  2024-07-20 17:42:32   off
16  1721490306  2024-07-20 17:45:06    on
17  1721490309  2024-07-20 17:45:09   off
18  1721491408  2024-07-20 18:03:28    on
19  1721491422  2024-07-20 18:03:42   off
20  1721491495  2024-07-20 18:04:55    on
21  1721491498  2024-07-20 18:04:58   off
22  1721492407  2024-07-20 18:20:07    on
23  1721492409  2024-07-20 18:20:09   off
24  1721492452  2024-07-20 18:20:52    on
25  1721492466  2024-07-20 18:21:06   off
26  1721492472  2024-07-20 18:21:12    on
27  1721492480  2024-07-20 18:21:20   off
28  1721492511  2024-07-20 18:21:51    on
29  1721492519  2024-07-20 18:21:59   off
30  1721492635  2024-07-20 18:23:55    on
31  1721492641  2024-07-20 18:24:01   off
32  1721493053  2024-07-20 18:30:53    on
33  1721493060  2024-07-20 18:31:00   off
34  1721494577  2024-07-20 18:56:17    on
35  1721494590  2024-07-20 18:56:30   off
36  1721494734  2024-07-20 18:58:54    on
37  1721494741  2024-07-20 18:59:01   off
38  1721494742  2024-07-20 18:59:02    on
39  1721494745  2024-07-20 18:59:05   off
40  1721516042  2024-07-21 00:54:02    on
41  1721516098  2024-07-21 00:54:58   off
           time                 date state
0    1721480617  2024-07-20 15:03:37    on
1    1721480623  2024-07-20 15:03:43   off
2    1721480626  2024-07-20 15:03:46    on
3    1721480628  2024-07-20 15:03:48   off
4    1721480630  2024-07-20 15:03:50    on
..          ...                  ...   ...
273  1721517805  2024-07-21 01:23:25   off
274  1721517972  2024-07-21 01:26:12    on
275  1721517978  2024-07-21 01:26:18   off
276  1721518144  2024-07-21 01:29:04    on
277  1721518183  2024-07-21 01:29:43   off

[278 rows x 3 columns]
           time                 date state
0    1721434001  2024-07-20 02:06:41    on
1    1721434005  2024-07-20 02:06:45   off
2    1721434027  2024-07-20 02:07:07    on
3    1721434037  2024-07-20 02:07:17   off
4    1721434395  2024-07-20 02:13:15    on
..          ...                  ...   ...
249  1721517973  2024-07-21 01:26:13   off
250  1721517977  2024-07-21 01:26:17    on
251  1721518003  2024-07-21 01:26:43   off
252  1721518849  2024-07-21 01:40:49    on
253  1721518852  2024-07-21 01:40:52   off

[254 rows x 3 columns]
          time                 date state
0   1721433687  2024-07-20 02:01:27    on
1   1721433712  2024-07-20 02:01:52   off
2   1721435039  2024-07-20 02:23:59    on
3   1721435041  2024-07-20 02:24:01   off
4   1721465895  2024-07-20 10:58:15    on
5   1721465898  2024-07-20 10:58:18   off
6   1721478077  2024-07-20 14:21:17    on
7   1721478078  2024-07-20 14:21:18   off
8   1721480610  2024-07-20 15:03:30    on
9   1721480613  2024-07-20 15:03:33   off
10  1721484240  2024-07-20 16:04:00    on
11  1721484243  2024-07-20 16:04:03   off
12  1721489383  2024-07-20 17:29:43    on
13  1721489385  2024-07-20 17:29:45   off
14  1721491688  2024-07-20 18:08:08    on
15  1721491700  2024-07-20 18:08:20   off
16  1721494685  2024-07-20 18:58:05    on
17  1721494689  2024-07-20 18:58:09   off
18  1721494750  2024-07-20 18:59:10    on
19  1721494752  2024-07-20 18:59:12   off
20  1721506180  2024-07-20 22:09:40    on
21  1721506183  2024-07-20 22:09:43   off
22  1721509095  2024-07-20 22:58:15    on
23  1721509099  2024-07-20 22:58:19   off
24  1721509773  2024-07-20 23:09:33    on
25  1721509777  2024-07-20 23:09:37   off
26  1721510564  2024-07-20 23:22:44    on
27  1721510572  2024-07-20 23:22:52   off
28  1721511001  2024-07-20 23:30:01    on
29  1721511052  2024-07-20 23:30:52   off
30  1721511494  2024-07-20 23:38:14    on
31  1721511518  2024-07-20 23:38:38   off
32  1721511792  2024-07-20 23:43:12    on
33  1721511810  2024-07-20 23:43:30   off
34  1721512862  2024-07-21 00:01:02    on
35  1721512868  2024-07-21 00:01:08   off
36  1721515844  2024-07-21 00:50:44    on
37  1721515847  2024-07-21 00:50:47   off
38  1721516691  2024-07-21 01:04:51    on
39  1721516705  2024-07-21 01:05:05   off
40  1721517735  2024-07-21 01:22:15    on
41  1721517803  2024-07-21 01:23:23   off
42  1721517833  2024-07-21 01:23:53    on
43  1721517840  2024-07-21 01:24:00   off
44  1721517886  2024-07-21 01:24:46    on
45  1721517954  2024-07-21 01:25:54   off
46  1721518001  2024-07-21 01:26:41    on
47  1721518145  2024-07-21 01:29:05   off
48  1721518182  2024-07-21 01:29:42    on
49  1721518185  2024-07-21 01:29:45   off
          time                 date state
0   1721434955  2024-07-20 02:22:35    on
1   1721434971  2024-07-20 02:22:51   off
2   1721435037  2024-07-20 02:23:57    on
3   1721435040  2024-07-20 02:24:00   off
4   1721435074  2024-07-20 02:24:34    on
..         ...                  ...   ...
75  1721504841  2024-07-20 21:47:21   off
76  1721507929  2024-07-20 22:38:49    on
77  1721507961  2024-07-20 22:39:21   off
78  1721509097  2024-07-20 22:58:17    on
79  1721509099  2024-07-20 22:58:19   off

[80 rows x 3 columns]
          time                 date state
0   1721455074  2024-07-20 07:57:54    on
1   1721455084  2024-07-20 07:58:04   off
2   1721455119  2024-07-20 07:58:39    on
3   1721456671  2024-07-20 08:24:31   off
4   1721456774  2024-07-20 08:26:14    on
..         ...                  ...   ...
93  1721514019  2024-07-21 00:20:19   off
94  1721514470  2024-07-21 00:27:50    on
95  1721515373  2024-07-21 00:42:53   off
96  1721516069  2024-07-21 00:54:29    on
97  1721516097  2024-07-21 00:54:57   off

[98 rows x 3 columns]
           time                 date state
0    1721455068  2024-07-20 07:57:48    on
1    1721455071  2024-07-20 07:57:51   off
2    1721455073  2024-07-20 07:57:53    on
3    1721455076  2024-07-20 07:57:56   off
4    1721455083  2024-07-20 07:58:03    on
..          ...                  ...   ...
105  1721513418  2024-07-21 00:10:18   off
106  1721516062  2024-07-21 00:54:22    on
107  1721516071  2024-07-21 00:54:31   off
108  1721516096  2024-07-21 00:54:56    on
109  1721516122  2024-07-21 00:55:22   off

[110 rows x 3 columns]
          time                 date state
0   1721466823  2024-07-20 11:13:43    on
1   1721466824  2024-07-20 11:13:44   off
2   1721470618  2024-07-20 12:16:58    on
3   1721470620  2024-07-20 12:17:00   off
4   1721470807  2024-07-20 12:20:07    on
..         ...                  ...   ...

In [6]:
df_total_map2 = {}

for room in rooms:
    df_total_map2[room]={}
    for fp in fp_sensors[room]:
        df_total_map2[room][fp]=np.zeros(sizeT())
        df_total=df_total_map[room][fp]  
        if(df_total is None):
            continue
        lastV=0
        i0=0
        for index, row in df_total.iterrows():
            iN=relT(int(row["time"]))
           

            print(row, "from to",iN, i0)
            if(iN<0):
                iN=0
            if(iN>=relT(tN)):
                iN=relT(tN)
            
            for ii in range(i0,iN,1):
                df_total_map2[room][fp][ii]=lastV
            i0=iN
            ok=row["state"]
            if(ok=="on"):
                ok=1
            else:
                ok=0
            lastV=ok
        for ii in range(i0,relT(tN),1):
            df_total_map2[room][fp][ii]=lastV
        print(df_total_map2[room][fp])

time              1721435078
date     2024-07-20 02:24:38
state                     on
Name: 0, dtype: object from to 1478 0
time              1721435084
date     2024-07-20 02:24:44
state                    off
Name: 1, dtype: object from to 1484 1478
time              1721465034
date     2024-07-20 10:43:54
state                     on
Name: 2, dtype: object from to 31434 1484
time              1721465035
date     2024-07-20 10:43:55
state                    off
Name: 3, dtype: object from to 31435 31434
time              1721465769
date     2024-07-20 10:56:09
state                     on
Name: 4, dtype: object from to 32169 31435
time              1721465775
date     2024-07-20 10:56:15
state                    off
Name: 5, dtype: object from to 32175 32169
time              1721467371
date     2024-07-20 11:22:51
state                     on
Name: 6, dtype: object from to 33771 32175
time              1721467393
date     2024-07-20 11:23:13
state                    off
Name: 7, dtype: object from to 33793 33771
time              1721489605
date     2024-07-20 17:33:25
state                     on
Name: 8, dtype: object from to 56005 33793
time              1721492098
date     2024-07-20 18:14:58
state                    off
Name: 9, dtype: object from to 58498 56005
time              1721504038
date     2024-07-20 21:33:58
state                     on
Name: 10, dtype: object from to 70438 58498
time              1721504077
date     2024-07-20 21:34:37
state                    off
Name: 11, dtype: object from to 70477 70438
time              1721504835
date     2024-07-20 21:47:15
state                     on
Name: 12, dtype: object from to 71235 70477
time              1721504838
date     2024-07-20 21:47:18
state                    off
Name: 13, dtype: object from to 71238 71235
[0. 0. 0. ... 0. 0. 0.]
time              1721435077
date     2024-07-20 02:24:37
state                     on
Name: 0, dtype: object from to 1477 0
time              1721435079
date     2024-07-20 02:24:39
state                    off
Name: 1, dtype: object from to 1479 1477
time              1721435081
date     2024-07-20 02:24:41
state                     on
Name: 2, dtype: object from to 1481 1479
time              1721435083
date     2024-07-20 02:24:43
state                    off
Name: 3, dtype: object from to 1483 1481
time              1721465032
date     2024-07-20 10:43:52
state                     on
Name: 4, dtype: object from to 31432 1483
time              1721465036
date     2024-07-20 10:43:56
state                    off
Name: 5, dtype: object from to 31436 31432
time              1721465773
date     2024-07-20 10:56:13
state                     on
Name: 6, dtype: object from to 32173 31436
time              1721465775
date     2024-07-20 10:56:15
state                    off
Name: 7, dtype: object from to 32175 32173
time              1721467370
date     2024-07-20 11:22:50
state                     on
Name: 8, dtype: object from to 33770 32175
time              1721467372
date     2024-07-20 11:22:52
state                    off
Name: 9, dtype: object from to 33772 33770
time              1721467391
date     2024-07-20 11:23:11
state                     on
Name: 10, dtype: object from to 33791 33772
time              1721467394
date     2024-07-20 11:23:14
state                    off
Name: 11, dtype: object from to 33794 33791
time              1721504037
date     2024-07-20 21:33:57
state                     on
Name: 12, dtype: object from to 70437 33794
time              1721504039
date     2024-07-20 21:33:59
state                    off
Name: 13, dtype: object from to 70439 70437
time              1721504069
date     2024-07-20 21:34:29
state                     on
Name: 14, dtype: object from to 70469 70439
time              1721504071
date     2024-07-20 21:34:31
state                    off
Name: 15, dtype: object from to 70471 70469
time              1721504075
date     2024-07-20 21:34:35
state                     on
Name: 16, dtype: object from to 70475 70471
time              1721504077
date     2024-07-20 21:34:37
state                    off
Name: 17, dtype: object from to 70477 70475
time              1721504833
date     2024-07-20 21:47:13
state                     on
Name: 18, dtype: object from to 71233 70477
time              1721504836
date     2024-07-20 21:47:16
state                    off
Name: 19, dtype: object from to 71236 71233
time              1721504837
date     2024-07-20 21:47:17
state                     on
Name: 20, dtype: object from to 71237 71236
time              1721504839
date     2024-07-20 21:47:19
state                    off
Name: 21, dtype: object from to 71239 71237
[0. 0. 0. ... 0. 0. 0.]
time              1721435077
date     2024-07-20 02:24:37
state                     on
Name: 0, dtype: object from to 1477 0
time              1721435079
date     2024-07-20 02:24:39
state                    off
Name: 1, dtype: object from to 1479 1477
time              1721435082
date     2024-07-20 02:24:42
state                     on
Name: 2, dtype: object from to 1482 1479
time              1721435085
date     2024-07-20 02:24:45
state                    off
Name: 3, dtype: object from to 1485 1482
time              1721465032
date     2024-07-20 10:43:52
state                     on
Name: 4, dtype: object from to 31432 1485
time              1721465034
date     2024-07-20 10:43:54
state                    off
Name: 5, dtype: object from to 31434 31432
time              1721465035
date     2024-07-20 10:43:55
state                     on
Name: 6, dtype: object from to 31435 31434
time              1721465037
date     2024-07-20 10:43:57
state                    off
Name: 7, dtype: object from to 31437 31435
time              1721465768
date     2024-07-20 10:56:08
state                     on
Name: 8, dtype: object from to 32168 31437
time              1721465770
date     2024-07-20 10:56:10
state                    off
Name: 9, dtype: object from to 32170 32168
time              1721465774
date     2024-07-20 10:56:14
state                     on
Name: 10, dtype: object from to 32174 32170
time              1721465781
date     2024-07-20 10:56:21
state                    off
Name: 11, dtype: object from to 32181 32174
time              1721467369
date     2024-07-20 11:22:49
state                     on
Name: 12, dtype: object from to 33769 32181
time              1721467371
date     2024-07-20 11:22:51
state                    off
Name: 13, dtype: object from to 33771 33769
time              1721467392
date     2024-07-20 11:23:12
state                     on
Name: 14, dtype: object from to 33792 33771
time              1721467394
date     2024-07-20 11:23:14
state                    off
Name: 15, dtype: object from to 33794 33792
time              1721473885
date     2024-07-20 13:11:25
state                     on
Name: 16, dtype: object from to 40285 33794
time              1721473890
date     2024-07-20 13:11:30
state                    off
Name: 17, dtype: object from to 40290 40285
time              1721491081
date     2024-07-20 17:58:01
state                     on
Name: 18, dtype: object from to 57481 40290
time              1721491086
date     2024-07-20 17:58:06
state                    off
Name: 19, dtype: object from to 57486 57481
time              1721491341
date     2024-07-20 18:02:21
state                     on
Name: 20, dtype: object from to 57741 57486
time              1721491352
date     2024-07-20 18:02:32
state                    off
Name: 21, dtype: object from to 57752 57741
time              1721491445
date     2024-07-20 18:04:05
state                     on
Name: 22, dtype: object from to 57845 57752
time              1721491450
date     2024-07-20 18:04:10
state                    off
Name: 23, dtype: object from to 57850 57845
time              1721504036
date     2024-07-20 21:33:56
state                     on
Name: 24, dtype: object from to 70436 57850
time              1721504038
date     2024-07-20 21:33:58
state                    off
Name: 25, dtype: object from to 70438 70436
time              1721504076
date     2024-07-20 21:34:36
state                     on
Name: 26, dtype: object from to 70476 70438
time              1721504078
date     2024-07-20 21:34:38
state                    off
Name: 27, dtype: object from to 70478 70476
time              1721504833
date     2024-07-20 21:47:13
state                     on
Name: 28, dtype: object from to 71233 70478
time              1721504834
date     2024-07-20 21:47:14
state                    off
Name: 29, dtype: object from to 71234 71233
time              1721504837
date     2024-07-20 21:47:17
state                     on
Name: 30, dtype: object from to 71237 71234
time              1721504839
date     2024-07-20 21:47:19
state                    off
Name: 31, dtype: object from to 71239 71237
[0. 0. 0. ... 0. 0. 0.]
time              1721435076
date     2024-07-20 02:24:36
state                     on
Name: 0, dtype: object from to 1476 0
time              1721435078
date     2024-07-20 02:24:38
state                    off
Name: 1, dtype: object from to 1478 1476
time              1721435084
date     2024-07-20 02:24:44
state                     on
Name: 2, dtype: object from to 1484 1478
time              1721435085
date     2024-07-20 02:24:45
state                    off
Name: 3, dtype: object from to 1485 1484
time              1721465031
date     2024-07-20 10:43:51
state                     on
Name: 4, dtype: object from to 31431 1485
time              1721465033
date     2024-07-20 10:43:53
state                    off
Name: 5, dtype: object from to 31433 31431
time              1721465035
date     2024-07-20 10:43:55
state                     on
Name: 6, dtype: object from to 31435 31433
time              1721465037
date     2024-07-20 10:43:57
state                    off
Name: 7, dtype: object from to 31437 31435
time              1721465766
date     2024-07-20 10:56:06
state                     on
Name: 8, dtype: object from to 32166 31437
time              1721465768
date     2024-07-20 10:56:08
state                    off
Name: 9, dtype: object from to 32168 32166
time              1721465779
date     2024-07-20 10:56:19
state                     on
Name: 10, dtype: object from to 32179 32168
time              1721465781
date     2024-07-20 10:56:21
state                    off
Name: 11, dtype: object from to 32181 32179
time              1721465785
date     2024-07-20 10:56:25
state                     on
Name: 12, dtype: object from to 32185 32181
time              1721465787
date     2024-07-20 10:56:27
state                    off
Name: 13, dtype: object from to 32187 32185
time              1721465825
date     2024-07-20 10:57:05
state                     on
Name: 14, dtype: object from to 32225 32187
time              1721465827
date     2024-07-20 10:57:07
state                    off
Name: 15, dtype: object from to 32227 32225
time              1721467369
date     2024-07-20 11:22:49
state                     on
Name: 16, dtype: object from to 33769 32227
time              1721467371
date     2024-07-20 11:22:51
state                    off
Name: 17, dtype: object from to 33771 33769
time              1721467393
date     2024-07-20 11:23:13
state                     on
Name: 18, dtype: object from to 33793 33771
time              1721467395
date     2024-07-20 11:23:15
state                    off
Name: 19, dtype: object from to 33795 33793
time              1721467415
date     2024-07-20 11:23:35
state                     on
Name: 20, dtype: object from to 33815 33795
time              1721467424
date     2024-07-20 11:23:44
state                    off
Name: 21, dtype: object from to 33824 33815
time              1721473884
date     2024-07-20 13:11:24
state                     on
Name: 22, dtype: object from to 40284 33824
time              1721473887
date     2024-07-20 13:11:27
state                    off
Name: 23, dtype: object from to 40287 40284
time              1721473888
date     2024-07-20 13:11:28
state                     on
Name: 24, dtype: object from to 40288 40287
time              1721473890
date     2024-07-20 13:11:30
state                    off
Name: 25, dtype: object from to 40290 40288
time              1721473912
date     2024-07-20 13:11:52
state                     on
Name: 26, dtype: object from to 40312 40290
time              1721473914
date     2024-07-20 13:11:54
state                    off
Name: 27, dtype: object from to 40314 40312
time              1721482680
date     2024-07-20 15:38:00
state                     on
Name: 28, dtype: object from to 49080 40314
time              1721482682
date     2024-07-20 15:38:02
state                    off
Name: 29, dtype: object from to 49082 49080
time              1721489581
date     2024-07-20 17:33:01
state                     on
Name: 30, dtype: object from to 55981 49082
time              1721489584
date     2024-07-20 17:33:04
state                    off
Name: 31, dtype: object from to 55984 55981
time              1721490596
date     2024-07-20 17:49:56
state                     on
Name: 32, dtype: object from to 56996 55984
time              1721490600
date     2024-07-20 17:50:00
state                    off
Name: 33, dtype: object from to 57000 56996
time              1721490879
date     2024-07-20 17:54:39
state                     on
Name: 34, dtype: object from to 57279 57000
time              1721490885
date     2024-07-20 17:54:45
state                    off
Name: 35, dtype: object from to 57285 57279
time              1721491473
date     2024-07-20 18:04:33
state                     on
Name: 36, dtype: object from to 57873 57285
time              1721491486
date     2024-07-20 18:04:46
state                    off
Name: 37, dtype: object from to 57886 57873
time              1721491604
date     2024-07-20 18:06:44
state                     on
Name: 38, dtype: object from to 58004 57886
time              1721491611
date     2024-07-20 18:06:51
state                    off
Name: 39, dtype: object from to 58011 58004
time              1721493412
date     2024-07-20 18:36:52
state                     on
Name: 40, dtype: object from to 59812 58011
time              1721493416
date     2024-07-20 18:36:56
state                    off
Name: 41, dtype: object from to 59816 59812
time              1721504036
date     2024-07-20 21:33:56
state                     on
Name: 42, dtype: object from to 70436 59816
time              1721504037
date     2024-07-20 21:33:57
state                    off
Name: 43, dtype: object from to 70437 70436
time              1721504077
date     2024-07-20 21:34:37
state                     on
Name: 44, dtype: object from to 70477 70437
time              1721504079
date     2024-07-20 21:34:39
state                    off
Name: 45, dtype: object from to 70479 70477
time              1721504832
date     2024-07-20 21:47:12
state                     on
Name: 46, dtype: object from to 71232 70479
time              1721504834
date     2024-07-20 21:47:14
state                    off
Name: 47, dtype: object from to 71234 71232
time              1721504838
date     2024-07-20 21:47:18
state                     on
Name: 48, dtype: object from to 71238 71234
time              1721504840
date     2024-07-20 21:47:20
state                    off
Name: 49, dtype: object from to 71240 71238
[0. 0. 0. ... 0. 0. 0.]
time              1721435075
date     2024-07-20 02:24:35
state                     on
Name: 0, dtype: object from to 1475 0
time              1721435077
date     2024-07-20 02:24:37
state                    off
Name: 1, dtype: object from to 1477 1475
time              1721435084
date     2024-07-20 02:24:44
state                     on
Name: 2, dtype: object from to 1484 1477
time              1721435086
date     2024-07-20 02:24:46
state                    off
Name: 3, dtype: object from to 1486 1484
time              1721465030
date     2024-07-20 10:43:50
state                     on
Name: 4, dtype: object from to 31430 1486
time              1721465032
date     2024-07-20 10:43:52
state                    off
Name: 5, dtype: object from to 31432 31430
time              1721465036
date     2024-07-20 10:43:56
state                     on
Name: 6, dtype: object from to 31436 31432
time              1721465038
date     2024-07-20 10:43:58
state                    off
Name: 7, dtype: object from to 31438 31436
time              1721465765
date     2024-07-20 10:56:05
state                     on
Name: 8, dtype: object from to 32165 31438
time              1721465768
date     2024-07-20 10:56:08
state                    off
Name: 9, dtype: object from to 32168 32165
time              1721465780
date     2024-07-20 10:56:20
state                     on
Name: 10, dtype: object from to 32180 32168
time              1721465832
date     2024-07-20 10:57:12
state                    off
Name: 11, dtype: object from to 32232 32180
time              1721465964
date     2024-07-20 10:59:24
state                     on
Name: 12, dtype: object from to 32364 32232
time              1721465971
date     2024-07-20 10:59:31
state                    off
Name: 13, dtype: object from to 32371 32364
time              1721467368
date     2024-07-20 11:22:48
state                     on
Name: 14, dtype: object from to 33768 32371
time              1721467370
date     2024-07-20 11:22:50
state                    off
Name: 15, dtype: object from to 33770 33768
time              1721467394
date     2024-07-20 11:23:14
state                     on
Name: 16, dtype: object from to 33794 33770
time              1721467395
date     2024-07-20 11:23:15
state                    off
Name: 17, dtype: object from to 33795 33794
time              1721467414
date     2024-07-20 11:23:34
state                     on
Name: 18, dtype: object from to 33814 33795
time              1721467417
date     2024-07-20 11:23:37
state                    off
Name: 19, dtype: object from to 33817 33814
time              1721467422
date     2024-07-20 11:23:42
state                     on
Name: 20, dtype: object from to 33822 33817
time              1721467424
date     2024-07-20 11:23:44
state                    off
Name: 21, dtype: object from to 33824 33822
time              1721470112
date     2024-07-20 12:08:32
state                     on
Name: 22, dtype: object from to 36512 33824
time              1721470127
date     2024-07-20 12:08:47
state                    off
Name: 23, dtype: object from to 36527 36512
time              1721473880
date     2024-07-20 13:11:20
state                     on
Name: 24, dtype: object from to 40280 36527
time              1721473886
date     2024-07-20 13:11:26
state                    off
Name: 25, dtype: object from to 40286 40280
time              1721473889
date     2024-07-20 13:11:29
state                     on
Name: 26, dtype: object from to 40289 40286
time              1721473892
date     2024-07-20 13:11:32
state                    off
Name: 27, dtype: object from to 40292 40289
time              1721473913
date     2024-07-20 13:11:53
state                     on
Name: 28, dtype: object from to 40313 40292
time              1721473915
date     2024-07-20 13:11:55
state                    off
Name: 29, dtype: object from to 40315 40313
time              1721482681
date     2024-07-20 15:38:01
state                     on
Name: 30, dtype: object from to 49081 40315
time              1721482701
date     2024-07-20 15:38:21
state                    off
Name: 31, dtype: object from to 49101 49081
time              1721504035
date     2024-07-20 21:33:55
state                     on
Name: 32, dtype: object from to 70435 49101
time              1721504037
date     2024-07-20 21:33:57
state                    off
Name: 33, dtype: object from to 70437 70435
time              1721504077
date     2024-07-20 21:34:37
state                     on

In [7]:
import cv2
import os

def getStateTime(df_total,tt):

    df_intervalo1 = df_total[(df_total['time'] >= (tt))]
    df_intervalo2 = df_total[(df_total['time'] <= (tt))]
    #print("tt",tt,time2str(tt))
    #print("df_intervalo1",df_intervalo1, len(df_intervalo1))
    #print("df_intervalo2",df_intervalo2, time2str(tt),tt,time2str(df_intervalo2.iloc[-1]['time']),df_intervalo2.iloc[-1]['time'])
    if(len(df_intervalo2)==0):
        return 100,0
    if(df_intervalo2.iloc[-1]['state']=='on'):
        return tt-df_intervalo2.iloc[-1]['time'],1
    if(df_intervalo2.iloc[-1]['state']=='off'):
        return tt-df_intervalo2.iloc[-1]['time'],-1
    return 100,0
    

os.makedirs(data_folder+"/DAY_"+str(day)+"/", exist_ok=True)
print(t0,tN,time_step)

v0={}
min_t={}
for room in rooms:
    for fp in fp_sensors[room]:
        if not fp in v0:
            v0[fp]=0
            min_t[fp]=100
                
for tt in range(t0,tN,time_step):
    print(tt,day_time(tt),time2str(tt))
    #print(tt-off_zone,day_time(tt-off_zone),time2str(tt-off_zone))
    #if(day_time(tt) != day):
    #    continue


    img0=np.zeros((h, w))

    for room in rooms:
        for fp in fp_sensors[room]:
            for xy in loc_room_sensor[room][fp]:
                #if(fp=="s2"):
                #    print("\t",v0[fp])
                v=df_total_map2[room][fp][relT(tt)]
                if(v>0):
                    min_t[fp]=tt
                    v0[fp]=v

                if(tt-min_t[fp]<15 and v==0):
                    v0[fp]=v
                
                img0[xy[0]][xy[1]]=img0[xy[0]][xy[1]]+int(v0[fp]*255)
        
            #df_intervalo = df_total[(df_total['time'] >= (tt-window_size/2)) & (df_total['time'] <= (tt)) & (df_total['state']=='on')]
            #print("DF",df_intervalo)            
            #for index, row in df_total.iterrows():
            #    dif=tt-row['time']+1
            #    print("@TIME",tt,fp,row, row['time'], "dif:", dif)
            #    for xy in loc_sensor[fp]:
            #        img0[xy[0]][xy[1]]=img0[xy[0]][xy[1]]+int(255/dif)
            #for ti in range(int(tt-1),tt+1):
                #print(ti)
                #inct,v=getStateTime(df_total,ti)*0.5
                #dif=tt-ti+1
                #print("@TIMA ",tt,v, "difA:", dif)
                #print(fp,"ti")
                #for xy in loc_room_sensor[room][fp]:
                    #print(fp,xy, "->",v)
                #    img0[xy[0]][xy[1]]=img0[xy[0]][xy[1]]+int(v*255/dif)

            #for ti in range(tt+1, int(tt+1+window_size/2)):
            #    v=getStateTime(df_total,ti)*0.25
            #    dif=ti-tt+1
                #print("@TIMB ",tt,v, "difB:", dif)
            #    for xy in loc_room_sensor[room][fp]:
            #        img0[xy[0]][xy[1]]=img0[xy[0]][xy[1]]+int(v*255/dif)

    img0[img0 < 0] = 0
    img0[img0 > 255] = 255
    print(data_folder+"/DAY_"+str(day)+"/FP."+str(tt)+".png")
    cv2.imwrite(data_folder+"/DAY_"+str(day)+"/FP."+str(tt)+".png", img0)

1721433600 1721519999 1
1721433600 19924 2024-07-20 02:00:00
./data//DAY_19924/FP.1721433600.png
1721433601 19924 2024-07-20 02:00:01
./data//DAY_19924/FP.1721433601.png
1721433602 19924 2024-07-20 02:00:02
./data//DAY_19924/FP.1721433602.png
1721433603 19924 2024-07-20 02:00:03
./data//DAY_19924/FP.1721433603.png
1721433604 19924 2024-07-20 02:00:04
./data//DAY_19924/FP.1721433604.png
1721433605 19924 2024-07-20 02:00:05
./data//DAY_19924/FP.1721433605.png
1721433606 19924 2024-07-20 02:00:06
./data//DAY_19924/FP.1721433606.png
1721433607 19924 2024-07-20 02:00:07
./data//DAY_19924/FP.1721433607.png
1721433608 19924 2024-07-20 02:00:08
./data//DAY_19924/FP.1721433608.png
1721433609 19924 2024-07-20 02:00:09
./data//DAY_19924/FP.1721433609.png
1721433610 19924 2024-07-20 02:00:10
./data//DAY_19924/FP.1721433610.png
1721433611 19924 2024-07-20 02:00:11
./data//DAY_19924/FP.1721433611.png
1721433612 19924 2024-07-20 02:00:12
./data//DAY_19924/FP.1721433612.png
1721433613 19924 2024-07-20 02:00:13
./data//DAY_19924/FP.1721433613.png
1721433614 19924 2024-07-20 02:00:14
./data//DAY_19924/FP.1721433614.png
1721433615 19924 2024-07-20 02:00:15
./data//DAY_19924/FP.1721433615.png
1721433616 19924 2024-07-20 02:00:16
./data//DAY_19924/FP.1721433616.png
1721433617 19924 2024-07-20 02:00:17
./data//DAY_19924/FP.1721433617.png
1721433618 19924 2024-07-20 02:00:18
./data//DAY_19924/FP.1721433618.png
1721433619 19924 2024-07-20 02:00:19
./data//DAY_19924/FP.1721433619.png
1721433620 19924 2024-07-20 02:00:20
./data//DAY_19924/FP.1721433620.png
1721433621 19924 2024-07-20 02:00:21
./data//DAY_19924/FP.1721433621.png
1721433622 19924 2024-07-20 02:00:22
./data//DAY_19924/FP.1721433622.png
1721433623 19924 2024-07-20 02:00:23
./data//DAY_19924/FP.1721433623.png
1721433624 19924 2024-07-20 02:00:24
./data//DAY_19924/FP.1721433624.png
1721433625 19924 2024-07-20 02:00:25
./data//DAY_19924/FP.1721433625.png
1721433626 19924 2024-07-20 02:00:26
./data//DAY_19924/FP.1721433626.png
1721433627 19924 2024-07-20 02:00:27
./data//DAY_19924/FP.1721433627.png
1721433628 19924 2024-07-20 02:00:28
./data//DAY_19924/FP.1721433628.png
1721433629 19924 2024-07-20 02:00:29
./data//DAY_19924/FP.1721433629.png
1721433630 19924 2024-07-20 02:00:30
./data//DAY_19924/FP.1721433630.png
1721433631 19924 2024-07-20 02:00:31
./data//DAY_19924/FP.1721433631.png
1721433632 19924 2024-07-20 02:00:32
./data//DAY_19924/FP.1721433632.png
1721433633 19924 2024-07-20 02:00:33
./data//DAY_19924/FP.1721433633.png
1721433634 19924 2024-07-20 02:00:34
./data//DAY_19924/FP.1721433634.png
1721433635 19924 2024-07-20 02:00:35
./data//DAY_19924/FP.1721433635.png
1721433636 19924 2024-07-20 02:00:36
./data//DAY_19924/FP.1721433636.png
1721433637 19924 2024-07-20 02:00:37
./data//DAY_19924/FP.1721433637.png
1721433638 19924 2024-07-20 02:00:38
./data//DAY_19924/FP.1721433638.png
1721433639 19924 2024-07-20 02:00:39
./data//DAY_19924/FP.1721433639.png
1721433640 19924 2024-07-20 02:00:40
./data//DAY_19924/FP.1721433640.png
1721433641 19924 2024-07-20 02:00:41
./data//DAY_19924/FP.1721433641.png
1721433642 19924 2024-07-20 02:00:42
./data//DAY_19924/FP.1721433642.png
1721433643 19924 2024-07-20 02:00:43
./data//DAY_19924/FP.1721433643.png
1721433644 19924 2024-07-20 02:00:44
./data//DAY_19924/FP.1721433644.png
1721433645 19924 2024-07-20 02:00:45
./data//DAY_19924/FP.1721433645.png
1721433646 19924 2024-07-20 02:00:46
./data//DAY_19924/FP.1721433646.png
1721433647 19924 2024-07-20 02:00:47
./data//DAY_19924/FP.1721433647.png
1721433648 19924 2024-07-20 02:00:48
./data//DAY_19924/FP.1721433648.png
1721433649 19924 2024-07-20 02:00:49
./data//DAY_19924/FP.1721433649.png
1721433650 19924 2024-07-20 02:00:50
./data//DAY_19924/FP.1721433650.png
1721433651 19924 2024-07-20 02:00:51
./data//DAY_19924/FP.1721433651.png
1721433652 19924 2024-07-20 02:00:52
./data//DAY_19924/FP.1721433652.png
1721433653 19924 2024-07-20 02:00:53
./data//DAY_19924/FP.1721433653.png
1721433654 19924 2024-07-20 02:00:54
./data//DAY_19924/FP.1721433654.png
1721433655 19924 2024-07-20 02:00:55
./data//DAY_19924/FP.1721433655.png
1721433656 19924 2024-07-20 02:00:56
./data//DAY_19924/FP.1721433656.png
1721433657 19924 2024-07-20 02:00:57
./data//DAY_19924/FP.1721433657.png
1721433658 19924 2024-07-20 02:00:58
./data//DAY_19924/FP.1721433658.png
1721433659 19924 2024-07-20 02:00:59
./data//DAY_19924/FP.1721433659.png
1721433660 19924 2024-07-20 02:01:00
./data//DAY_19924/FP.1721433660.png
1721433661 19924 2024-07-20 02:01:01
./data//DAY_19924/FP.1721433661.png
1721433662 19924 2024-07-20 02:01:02
./data//DAY_19924/FP.1721433662.png
1721433663 19924 2024-07-20 02:01:03
./data//DAY_19924/FP.1721433663.png
1721433664 19924 2024-07-20 02:01:04
./data//DAY_19924/FP.1721433664.png
1721433665 19924 2024-07-20 02:01:05
./data//DAY_19924/FP.1721433665.png
1721433666 19924 2024-07-20 02:01:06
./data//DAY_19924/FP.1721433666.png
1721433667 19924 2024-07-20 02:01:07
./data//DAY_19924/FP.1721433667.png
1721433668 19924 2024-07-20 02:01:08
./data//DAY_19924/FP.1721433668.png
1721433669 19924 2024-07-20 02:01:09
./data//DAY_19924/FP.1721433669.png
1721433670 19924 2024-07-20 02:01:10
./data//DAY_19924/FP.1721433670.png
1721433671 19924 2024-07-20 02:01:11
./data//DAY_19924/FP.1721433671.png
1721433672 19924 2024-07-20 02:01:12
./data//DAY_19924/FP.1721433672.png
1721433673 19924 2024-07-20 02:01:13
./data//DAY_19924/FP.1721433673.png
1721433674 19924 2024-07-20 02:01:14
./data//DAY_19924/FP.1721433674.png
1721433675 19924 2024-07-20 02:01:15
./data//DAY_19924/FP.1721433675.png
1721433676 19924 2024-07-20 02:01:16
./data//DAY_19924/FP.1721433676.png
1721433677 19924 2024-07-20 02:01:17
./data//DAY_19924/FP.1721433677.png
1721433678 19924 2024-07-20 02:01:18
./data//DAY_19924/FP.1721433678.png
1721433679 19924 2024-07-20 02:01:19
./data//DAY_19924/FP.1721433679.png
1721433680 19924 2024-07-20 02:01:20
./data//DAY_19924/FP.1721433680.png
1721433681 19924 2024-07-20 02:01:21
./data//DAY_19924/FP.1721433681.png
1721433682 19924 2024-07-20 02:01:22
./data//DAY_19924/FP.1721433682.png
1721433683 19924 2024-07-20 02:01:23
./data//DAY_19924/FP.1721433683.png
1721433684 19924 2024-07-20 02:01:24
./data//DAY_19924/FP.1721433684.png
1721433685 19924 2024-07-20 02:01:25
./data//DAY_19924/FP.1721433685.png
1721433686 19924 2024-07-20 02:01:26
./data//DAY_19924/FP.1721433686.png
1721433687 19924 2024-07-20 02:01:27
./data//DAY_19924/FP.1721433687.png
1721433688 19924 2024-07-20 02:01:28
./data//DAY_19924/FP.1721433688.png
1721433689 19924 2024-07-20 02:01:29
./data//DAY_19924/FP.1721433689.png
1721433690 19924 2024-07-20 02:01:30
./data//DAY_19924/FP.1721433690.png
1721433691 19924 2024-07-20 02:01:31
./data//DAY_19924/FP.1721433691.png
1721433692 19924 2024-07-20 02:01:32
./data//DAY_19924/FP.1721433692.png
1721433693 19924 2024-07-20 02:01:33
./data//DAY_19924/FP.1721433693.png
1721433694 19924 2024-07-20 02:01:34
./data//DAY_19924/FP.1721433694.png
1721433695 19924 2024-07-20 02:01:35
./data//DAY_19924/FP.1721433695.png
1721433696 19924 2024-07-20 02:01:36
./data//DAY_19924/FP.1721433696.png
1721433697 19924 2024-07-20 02:01:37
./data//DAY_19924/FP.1721433697.png
1721433698 19924 2024-07-20 02:01:38
./data//DAY_19924/FP.1721433698.png
1721433699 19924 2024-07-20 02:01:39
./data//DAY_19924/FP.1721433699.png
1721433700 19924 2024-07-20 02:01:40
./data//DAY_19924/FP.1721433700.png
1721433701 19924 2024-07-20 02:01:41
./data//DAY_19924/FP.1721433701.png
1721433702 19924 2024-07-20 02:01:42
./data//DAY_19924/FP.1721433702.png
1721433703 19924 2024-07-20 02:01:43
./data//DAY_19924/FP.1721433703.png
1721433704 19924 2024-07-20 02:01:44
./data//DAY_19924/FP.1721433704.png
1721433705 19924 2024-07-20 02:01:45
./data//DAY_19924/FP.1721433705.png
1721433706 19924 2024-07-20 02:01:46
./data//DAY_19924/FP.1721433706.png
1721433707 19924 2024-07-20 02:01:47
./data//DAY_19924/FP.1721433707.png
1721433708 19924 2024-07-20 02:01:48
./data//DAY_19924/FP.1721433708.png
1721433709 19924 2024-07-20 02:01:49
./data//DAY_19924/FP.1721433709.png
1721433710 19924 2024-07-20 02:01:50
./data//DAY_19924/FP.1721433710.png
1721433711 19924 2024-07-20 02:01:51
./data//DAY_19924/FP.1721433711.png
1721433712 19924 2024-07-20 02:01:52
./data//DAY_19924/FP.1721433712.png
1721433713 19924 2024-07-20 02:01:53
./data//DAY_19924/FP.1721433713.png
1721433714 19924 2024-07-20 02:01:54
./data//DAY_19924/FP.1721433714.png
1721433715 19924 2024-07-20 02:01:55
./data//DAY_19924/FP.1721433715.png
1721433716 19924 2024-07-20 02:01:56
./data//DAY_19924/FP.1721433716.png
1721433717 19924 2024-07-20 02:01:57
./data//DAY_19924/FP.1721433717.png
1721433718 19924 2024-07-20 02:01:58
./data//DAY_19924/FP.1721433718.png
1721433719 19924 2024-07-20 02:01:59
./data//DAY_19924/FP.1721433719.png
1721433720 19924 2024-07-20 02:02:00
./data//DAY_19924/FP.1721433720.png
1721433721 19924 2024-07-20 02:02:01
./data//DAY_19924/FP.1721433721.png
1721433722 19924 2024-07-20 02:02:02
./data//DAY_19924/FP.1721433722.png
1721433723 19924 2024-07-20 02:02:03
./data//DAY_19924/FP.1721433723.png
1721433724 19924 2024-07-20 02:02:04
./data//DAY_19924/FP.1721433724.png
1721433725 19924 2024-07-20 02:02:05
./data//DAY_19924/FP.1721433725.png
1721433726 19924 2024-07-20 02:02:06
./data//DAY_19924/FP.1721433726.png
1721433727 19924 2024-07-20 02:02:07
./data//DAY_19924/FP.1721433727.png
1721433728 19924 2024-07-20 02:02:08
./data//DAY_19924/FP.1721433728.png
1721433729 19924 2024-07-20 02:02:09
./data//DAY_19924/FP.1721433729.png
1721433730 19924 2024-07-20 02:02:10
./data//DAY_19924/FP.1721433730.png
1721433731 19924 2024-07-20 02:02:11
./data//DAY_19924/FP.1721433731.png
1721433732 19924 2024-07-20 02:02:12
./data//DAY_19924/FP.1721433732.png
1721433733 19924 2024-07-20 02:02:13
./data//DAY_19924/FP.1721433733.png
1721433734 19924 2024-07-20 02:02:14
./data//DAY_19924/FP.1721433734.png
1721433735 19924 2024-07-20 02:02:15
./data//DAY_19924/FP.1721433735.png
1721433736 19924 2024-07-20 02:02:16
./data//DAY_19924/FP.1721433736.png
1721433737 19924 2024-07-20 02:02:17
./data//DAY_19924/FP.1721433737.png
1721433738 19924 2024-07-20 02:02:18
./data//DAY_19924/FP.1721433738.png
1721433739 19924 2024-07-20 02:02:19
./data//DAY_19924/FP.1721433739.png
1721433740 19924 2024-07-20 02:02:20
./data//DAY_19924/FP.1721433740.png
1721433741 19924 2024-07-20 02:02:21
./data//DAY_19924/FP.1721433741.png
1721433742 19924 2024-07-20 02:02:22
./data//DAY_19924/FP.1721433742.png
1721433743 19924 2024-07-20 02:02:23
./data//DAY_19924/FP.1721433743.png
1721433744 19924 2024-07-20 02:02:24
./data//DAY_19924/FP.1721433744.png
1721433745 19924 2024-07-20 02:02:25
./data//DAY_19924/FP.1721433745.png
1721433746 19924 2024-07-20 02:02:26
./data//DAY_19924/FP.1721433746.png
1721433747 19924 2024-07-20 02:02:27
./data//DAY_19924/FP.1721433747.png
1721433748 19924 2024-07-20 02:02:28
./data//DAY_19924/FP.1721433748.png
1721433749 19924 2024-07-20 02:02:29
./data//DAY_19924/FP.1721433749.png
1721433750 19924 2024-07-20 02:02:30
./data//DAY_19924/FP.1721433750.png
1721433751 19924 2024-07-20 02:02:31
./data//DAY_19924/FP.1721433751.png
1721433752 19924 2024-07-20 02:02:32
./data//DAY_19924/FP.1721433752.png
1721433753 19924 2024-07-20 02:02:33
./data//DAY_19924/FP.1721433753.png
1721433754 19924 2024-07-20 02:02:34
./data//DAY_19924/FP.1721433754.png
1721433755 19924 2024-07-20 02:02:35
./data//DAY_19924/FP.1721433755.png
1721433756 19924 2024-07-20 02:02:36
./data//DAY_19924/FP.1721433756.png
1721433757 19924 2024-07-20 02:02:37
./data//DAY_19924/FP.1721433757.png
1721433758 19924 2024-07-20 02:02:38
./data//DAY_19924/FP.1721433758.png
1721433759 19924 2024-07-20 02:02:39
./data//DAY_19924/FP.1721433759.png
1721433760 19924 2024-07-20 02:02:40
./data//DAY_19924/FP.1721433760.png
1721433761 19924 2024-07-20 02:02:41
./data//DAY_19924/FP.1721433761.png
1721433762 19924 2024-07-20 02:02:42
./data//DAY_19924/FP.1721433762.png
1721433763 19924 2024-07-20 02:02:43
./data//DAY_19924/FP.1721433763.png
1721433764 19924 2024-07-20 02:02:44
./data//DAY_19924/FP.1721433764.png
1721433765 19924 2024-07-20 02:02:45
./data//DAY_19924/FP.1721433765.png
1721433766 19924 2024-07-20 02:02:46
./data//DAY_19924/FP.1721433766.png
1721433767 19924 2024-07-20 02:02:47
./data//DAY_19924/FP.1721433767.png
1721433768 19924 2024-07-20 02:02:48
./data//DAY_19924/FP.1721433768.png
1721433769 19924 2024-07-20 02:02:49
./data//DAY_19924/FP.1721433769.png
1721433770 19924 2024-07-20 02:02:50
./data//DAY_19924/FP.1721433770.png
1721433771 19924 2024-07-20 02:02:51
./data//DAY_19924/FP.1721433771.png
1721433772 19924 2024-07-20 02:02:52
./data//DAY_19924/FP.1721433772.png
1721433773 19924 2024-07-20 02:02:53
./data//DAY_19924/FP.1721433773.png
1721433774 19924 2024-07-20 02:02:54
./data//DAY_19924/FP.1721433774.png
1721433775 19924 2024-07-20 02:02:55
./data//DAY_19924/FP.1721433775.png
1721433776 19924 2024-07-20 02:02:56
./data//DAY_19924/FP.1721433776.png
1721433777 19924 2024-07-20 02:02:57
./data//DAY_19924/FP.1721433777.png
1721433778 19924 2024-07-20 02:02:58
./data//DAY_19924/FP.1721433778.png
1721433779 19924 2024-07-20 02:02:59
./data//DAY_19924/FP.1721433779.png
1721433780 19924 2024-07-20 02:03:00
./data//DAY_19924/FP.1721433780.png
1721433781 19924 2024-07-20 02:03:01
./data//DAY_19924/FP.1721433781.png
1721433782 19924 2024-07-20 02:03:02
./data//DAY_19924/FP.1721433782.png
1721433783 19924 2024-07-20 02:03:03
./data//DAY_19924/FP.1721433783.png
1721433784 19924 2024-07-20 02:03:04
./data//DAY_19924/FP.1721433784.png
1721433785 19924 2024-07-20 02:03:05
./data//DAY_19924/FP.1721433785.png
1721433786 19924 2024-07-20 02:03:06
./data//DAY_19924/FP.1721433786.png
1721433787 19924 2024-07-20 02:03:07
./data//DAY_19924/FP.1721433787.png
1721433788 19924 2024-07-20 02:03:08
./data//DAY_19924/FP.1721433788.png
1721433789 19924 2024-07-20 02:03:09
./data//DAY_19924/FP.1721433789.png
1721433790 19924 2024-07-20 02:03:10
./data//DAY_19924/FP.1721433790.png
1721433791 19924 2024-07-20 02:03:11
./data//DAY_19924/FP.1721433791.png
1721433792 19924 2024-07-20 02:03:12
./data//DAY_19924/FP.1721433792.png
1721433793 19924 2024-07-20 02:03:13
./data//DAY_19924/FP.1721433793.png
1721433794 19924 2024-07-20 02:03:14
./data//DAY_19924/FP.1721433794.png
1721433795 19924 2024-07-20 02:03:15
./data//DAY_19924/FP.1721433795.png
1721433796 19924 2024-07-20 02:03:16
./data//DAY_19924/FP.1721433796.png
1721433797 19924 2024-07-20 02:03:17
./data//DAY_19924/FP.1721433797.png
1721433798 19924 2024-07-20 02:03:18
./data//DAY_19924/FP.1721433798.png
1721433799 19924 2024-07-20 02:03:19
./data//DAY_19924/FP.1721433799.png
1721433800 19924 2024-07-20 02:03:20
./data//DAY_19924/FP.1721433800.png
1721433801 19924 2024-07-20 02:03:21
./data//DAY_19924/FP.1721433801.png
1721433802 19924 2024-07-20 02:03:22
./data//DAY_19924/FP.1721433802.png
1721433803 19924 2024-07-20 02:03:23
./data//DAY_19924/FP.1721433803.png
1721433804 19924 2024-07-20 02:03:24
./data//DAY_19924/FP.1721433804.png
1721433805 19924 2024-07-20 02:03:25
./data//DAY_19924/FP.1721433805.png
1721433806 19924 2024-07-20 02:03:26
./data//DAY_19924/FP.1721433806.png
1721433807 19924 2024-07-20 02:03:27
./data//DAY_19924/FP.1721433807.png
1721433808 19924 2024-07-20 02:03:28
./data//DAY_19924/FP.1721433808.png
1721433809 19924 2024-07-20 02:03:29
./data//DAY_19924/FP.1721433809.png
1721433810 19924 2024-07-20 02:03:30
./data//DAY_19924/FP.1721433810.png
1721433811 19924 2024-07-20 02:03:31
./data//DAY_19924/FP.1721433811.png
1721433812 19924 2024-07-20 02:03:32
./data//DAY_19924/FP.1721433812.png
1721433813 19924 2024-07-20 02:03:33
./data//DAY_19924/FP.1721433813.png
1721433814 19924 2024-07-20 02:03:34
./data//DAY_19924/FP.1721433814.png
1721433815 19924 2024-07-20 02:03:35
./data//DAY_19924/FP.1721433815.png
1721433816 19924 2024-07-20 02:03:36
./data//DAY_19924/FP.1721433816.png
1721433817 19924 2024-07-20 02:03:37
./data//DAY_19924/FP.1721433817.png
1721433818 19924 2024-07-20 02:03:38
./data//DAY_19924/FP.1721433818.png
1721433819 19924 2024-07-20 02:03:39
./data//DAY_19924/FP.1721433819.png
1721433820 19924 2024-07-20 02:03:40
./data//DAY_19924/FP.1721433820.png
1721433821 19924 2024-07-20 02:03:41
./data//DAY_19924/FP.1721433821.png
1721433822 19924 2024-07-20 02:03:42
./data//DAY_19924/FP.1721433822.png
1721433823 19924 2024-07-20 02:03:43
./data//DAY_19924/FP.1721433823.png
1721433824 19924 2024-07-20 02:03:44
./data//DAY_19924/FP.1721433824.png
1721433825 19924 2024-07-20 02:03:45
./data//DAY_19924/FP.1721433825.png
1721433826 19924 2024-07-20 02:03:46
./data//DAY_19924/FP.1721433826.png
1721433827 19924 2024-07-20 02:03:47
./data//DAY_19924/FP.1721433827.png
1721433828 19924 2024-07-20 02:03:48
./data//DAY_19924/FP.1721433828.png
1721433829 19924 2024-07-20 02:03:49
./data//DAY_19924/FP.1721433829.png
1721433830 19924 2024-07-20 02:03:50
./data//DAY_19924/FP.1721433830.png
1721433831 19924 2024-07-20 02:03:51
./data//DAY_19924/FP.1721433831.png
1721433832 19924 2024-07-20 02:03:52
./data//DAY_19924/FP.1721433832.png
1721433833 19924 2024-07-20 02:03:53
./data//DAY_19924/FP.1721433833.png
1721433834 19924 2024-07-20 02:03:54
./data//DAY_19924/FP.1721433834.png
1721433835 19924 2024-07-20 02:03:55
./data//DAY_19924/FP.1721433835.png
1721433836 19924 2024-07-20 02:03:56
./data//DAY_19924/FP.1721433836.png
1721433837 19924 2024-07-20 02:03:57
./data//DAY_19924/FP.1721433837.png
1721433838 19924 2024-07-20 02:03:58
./data//DAY_19924/FP.1721433838.png
1721433839 19924 2024-07-20 02:03:59
./data//DAY_19924/FP.1721433839.png
1721433840 19924 2024-07-20 02:04:00
./data//DAY_19924/FP.1721433840.png
1721433841 19924 2024-07-20 02:04:01
./data//DAY_19924/FP.1721433841.png
1721433842 19924 2024-07-20 02:04:02
./data//DAY_19924/FP.1721433842.png
1721433843 19924 2024-07-20 02:04:03
./data//DAY_19924/FP.1721433843.png
1721433844 19924 2024-07-20 02:04:04
./data//DAY_19924/FP.1721433844.png
1721433845 19924 2024-07-20 02:04:05
./data//DAY_19924/FP.1721433845.png
1721433846 19924 2024-07-20 02:04:06
./data//DAY_19924/FP.1721433846.png
1721433847 19924 2024-07-20 02:04:07
./data//DAY_19924/FP.1721433847.png
1721433848 19924 2024-07-20 02:04:08
./data//DAY_19924/FP.1721433848.png
1721433849 19924 2024-07-20 02:04:09
./data//DAY_19924/FP.1721433849.png
1721433850 19924 2024-07-20 02:04:10
./data//DAY_19924/FP.1721433850.png
1721433851 19924 2024-07-20 02:04:11
./data//DAY_19924/FP.1721433851.png
1721433852 19924 2024-07-20 02:04:12
./data//DAY_19924/FP.1721433852.png
1721433853 19924 2024-07-20 02:04:13
./data//DAY_19924/FP.1721433853.png
1721433854 19924 2024-07-20 02:04:14
./data//DAY_19924/FP.1721433854.png
1721433855 19924 2024-07-20 02:04:15
./data//DAY_19924/FP.1721433855.png
1721433856 19924 2024-07-20 02:04:16
./data//DAY_19924/FP.1721433856.png
1721433857 19924 2024-07-20 02:04:17
./data//DAY_19924/FP.1721433857.png
1721433858 19924 2024-07-20 02:04:18
./data//DAY_19924/FP.1721433858.png
1721433859 19924 2024-07-20 02:04:19
./data//DAY_19924/FP.1721433859.png
1721433860 19924 2024-07-20 02:04:20
./data//DAY_19924/FP.1721433860.png
1721433861 19924 2024-07-20 02:04:21
./data//DAY_19924/FP.1721433861.png
1721433862 19924 2024-07-20 02:04:22
./data//DAY_19924/FP.1721433862.png
1721433863 19924 2024-07-20 02:04:23
./data//DAY_19924/FP.1721433863.png
1721433864 19924 2024-07-20 02:04:24
./data//DAY_19924/FP.1721433864.png
1721433865 19924 2024-07-20 02:04:25
./data//DAY_19924/FP.1721433865.png
1721433866 19924 2024-07-20 02:04:26
./data//DAY_19924/FP.1721433866.png
1721433867 19924 2024-07-20 02:04:27
./data//DAY_19924/FP.1721433867.png
1721433868 19924 2024-07-20 02:04:28
./data//DAY_19924/FP.1721433868.png
1721433869 19924 2024-07-20 02:04:29
./data//DAY_19924/FP.1721433869.png
1721433870 19924 2024-07-20 02:04:30
./data//DAY_19924/FP.1721433870.png
1721433871 19924 2024-07-20 02:04:31
./data//DAY_19924/FP.1721433871.png
1721433872 19924 2024-07-20 02:04:32
./data//DAY_19924/FP.1721433872.png
1721433873 19924 2024-07-20 02:04:33

KeyboardInterrupt